@font-face {
  font-family: 'klavika_regular';
  src: url('/assets/fonts/klavika/regular/klavika-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/klavika/regular/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/klavika/regular/klavika-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/klavika/regular/klavika-regular-webfont.otf') format('opentype'),
       url('/assets/fonts/klavika/regular/klavika-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'klavika_bold';
  src: url('/assets/fonts/klavika/bold/klavika-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/klavika/bold/klavika-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/klavika/bold/klavika-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/klavika/bold/klavika-bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'klavika_light';
  src: url('/assets/fonts/klavika/light/klavika-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/klavika/light/klavika-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/klavika/light/klavika-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/klavika/light/klavika-light-webfont.otf') format('opentype'),
       url('/assets/fonts/klavika/light/klavika-light-webfont.ttf') format('truetype'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'klavika_medium';
  src: url('/assets/fonts/klavika/medium/klavika-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/klavika/medium/klavika-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/klavika/medium/klavika-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/klavika/medium/klavika-medium-webfont.otf') format('opentype'),
       url('/assets/fonts/klavika/medium/klavika-medium-webfont.ttf') format('truetype'); /* Pretty Modern Browsers */
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    zoom: 1
}

.clear:before,
.doubleRow:before,
.clear:after,
.doubleRow:after {
    content: " ";
    display: table;
}

.clear:after,
.doubleRow:after {
    clear: both;
}

html,
body,
header,
footer,
section,
div,
span,
nav,
ul,
ul li,
a,
h1,
h2,
h3,
h4,
h5,
strong,
p{
    margin: 0px;
    padding: 0px;
    border: 0px none;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'klavika_regular', sans-serif;
}

body * {
    outline: 0;
  /*  transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;*/
}

a,
p,
h2 {
    text-decoration: none;
}

a {
    color: #444444;
    outline: 0;
}

ul {
    list-style: none;
}
input:invalid,select{
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
     -o-box-shadow: none;
     box-shadow: none;
     outline:0px;
}
header{
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: white;
    left: 0;
    top: 0;
    height: 90px;
    box-shadow: 0px 0px 5px 0px #7a7a7a;
    -webkit-box-shadow: 0px 0px 5px 0px #7a7a7a;
    -moz-box-shadow: 0px 0px 5px 0px #7a7a7a;
    -o-box-shadow: 0px 0px 5px 0px #7a7a7a;
    -ms-box-shadow: 0px 0px 5px 0px #7a7a7a;
}
acme-navbar header.ng-hide.active{
    display: block !important;
}
.logo a {
    display: inline-block;
    width: 200px;
}

.logo label {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 30px;
    padding: 7px 20px;
    border-radius: 18px;
    background-color: #f4f7f8;
    border: 1px solid #dbdbdb;
    font-family: 'klavika_regular', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #353535;
}

header .contain {
    padding-top: 5px;
    padding-bottom: 5px;
}

header .wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.mainView {
    height: 100%;
}

.wrapper {
    padding-left: 100px;
    padding-right: 100px;
    display: table;
    width: 100%;
    height: 100%;
}

header img,
.mainContain img,
footer img {
    width: 100%;
    display: block;
}

.navigation li {
    float: left;
    padding-left: 25px;
}

.navigation .social a {
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    margin-top: 7px;
}

.navigation label,
.navigation .loginLink a {
    margin-top: 17px;
    display: block;
    color: #353535;
    font-size: 17px;
    font-family: 'klavika_regular', sans-serif;
    font-weight: 300;
}

header .contain > div {
    float: left;
}

header .contain > div.navigation {
    float: right;
    padding-top: 8px;
}
header .contain > div.mobileMenu{
    display: none;
    float: right;
    margin-top: 24px;
}
header .mobileMenu a{
    position: relative;
    display: block;
    height: 40px;
    width: 50px;
    font-size: 25px;
    color: #474545;
    padding-top: 5px;
}
.contain {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mainContain {
    background-image: url('../../assets/images/banner_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.mainContain .wrapper {
    background-color: rgba(6, 6, 6, 0.41);
}
.mainContain.home,.mainContain.login,.mainContain.Register{
    padding-top:90px;
}
.mobileCarousal:before {
    content: "";
    background-image: url('../../assets/images/phoneCover.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.mobileCover:after {
    content: "";
    background-image: url('../../assets/images/shadow.png');
    background-size: 100% 20px;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.mobileCarousal {
    width: 240px;
    padding: 75px 25px 13px 16px;
    overflow: hidden;
    display: inline-block;
}

.mobileCover {
    width: 45%;
    float: left;
    text-align: center;
}

.mobileContent {
    width: 55%;
    float: left;
    text-align: left;
}

.mobileContent.toggleContent .textContent {
    display: none
}

.mobileContent.toggleContent .userContent {
    display: block;
}

.containTxt {
    text-align: left;
    color: white;
}

.containTxt h3 {
    font-family: 'klavika_regular', sans-serif;
    font-size: 38px;
    font-weight: 300;
    padding-top: 15%;
    color: white;
    padding-right: 20%;
}

.containTxt h4 {
    font-family: 'klavika_regular', sans-serif;
    padding-top: 20px;
    font-size: 21px;
    font-weight: 500;
}

.eventTrigger a {
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
    font-family: 'klavika_regular', sans-serif;
    text-transform: uppercase;
    padding: 13px 30px;
    color: white;
    background-color: rgba(21, 17, 18, 0.19);
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 6px;
    margin-right: 15px;
}

.eventTrigger a:hover,
.eventTrigger a.active {
    background-color: #f36379;
    border: 2px solid #f36379;
}

.downloadPath a {
    display: inline-block;
    width: 180px;
    margin: 3px;
    margin-top: 20px;
    z-index: 9;
}

.pageContent > div {
    float: left;
    width: 60%;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pageContent > div.shortContent {
    width: 40%;
    padding-left: 80px;
}

.pageContent h3 {
    color: #f36379;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    font-size: 21px;
    font-weight: 300;
    font-family: 'klavika_regular', sans-serif;
}

.pageContent h3:after,
.footerContain li h3:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0px;
    border-bottom: 2px solid #f36379;
    width: 80px;
}

.footerContain li h3:after {
    width: 50px;
    bottom: 3px;
}

.pageContent .shortContent h3 {
    color: #555555;
    font-size: 17px;
    font-weight: 300;
    font-family: 'klavika_medium', sans-serif;
}

.pageContent h4 {
    color: #555555;
    padding-bottom: 18px;
    line-height: 20px;
    padding-top: 10px;
    font-size: 21px;
    font-weight: 300;
    font-family: 'klavika_regular', sans-serif;
}

.pageContent p {
    font-size: 17px;
    font-weight: 300;
    color: #555555;
    padding-bottom: 20px;
    line-height: 22px;
}

footer {
    background-color: #222222;
    padding-top: 55px;
    padding-bottom: 30px;
}

footer ul li {
    width: 21.6666666667%;
    float: left;
    text-align: left
}

footer ul li.logoPos {
    width: 35%;
}

footer ul li ul li {
    width: 100%;
    float: none;
}

footer ul li ul li a,
footer ul li p {
    color: #7a7a7a;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
}

footer ul li p strong {
    font-weight: 700;
}

.logoPos a {
    width: 85%;
    display: block;
    margin-top: 0px;
    padding: 60px;
    padding-left: 0px;
}

.social_footer a {
    display: block;
    padding-bottom: 5px;
    width: 165px;
    padding-top: 5px;
}

footer h3 {
    color: #5d5d5d;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 300;
    font-family: 'klavika_medium', sans-serif;
}

.footerCopyright {
    padding-top: 15px;
}

.footerCopyright > div {
    float: left;
    width: 50%;
    text-align: left;
    color: white;
    padding-top: 13px;
}

.footerCopyright > div.social_logo {
    text-align: right;
    padding-top: 0px;
}

.footerCopyright label {
    color: #9a9a9a;
}

.join {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 30px;
    color: white;
    background-color: #f36379;
    border-radius: 6px;
    margin-left: 15px;
}

.social_logo > div {
    display: inline-block;
}

.social_logo a {
    display: inline-block;
    width: 37px;
    margin: 2px;
}

.social_logo label {
    font-size: 15px;
    font-weight: 300;
    color: white;
    vertical-align: top;
    padding-top: 12px;
    display: inline-block;
}

.userContent {
    width: 500px;
    margin: auto;
}

input::-webkit-input-placeholder {
    color: #484844;
    font-size: 15px;
    font-weight: 300;
}

input::-moz-placeholder {
    color: #484844;
    font-size: 15px;
    font-weight: 300;
}

input::-ms-input-placeholder {
    color: #484844;
    font-size: 15px;
    font-weight: 300;
}

input::-moz-placeholder {
    color: #484844;
    font-size: 15px;
    font-weight: 300;
}

input::placeholder {
    color: #484844;
    font-size: 15px;
    font-weight: 300;
}

.loginBox,
.registerBox {
    background-color: white;
    padding: 55px;
    border-radius: 4px;
    margin-top: 15px;
    padding-top: 75px;
}

.loginBox:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid white;
    top: 0px;
    position: absolute;
    left: 0px;
    margin-top: -17px;
    margin-left: 17px;
}

.userWrap .row {
    padding: 0px;
    padding-bottom: 5px;
}

.row input,.row select{
    width: 100%;
    height: 46px;
}

.row input[type="text"],
.row input[type="password"],
.row select{
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    font-family: 'klavika_regular', sans-serif;
    border: none;
    height: 46px;
    font-size: 17px;
    font-weight: 300;
    color: #535353;
    border-bottom: 1px solid black;
}
select option{
    padding-left: 15px;
}
.userWrap .row.lastRow input{
    border:none !important;
}

.row input[type="text"]:focus,
.row input[type="password"]:focus {
    outline: none;
}

.row input[type="button"],
.row input[type="submit"] {
    background-color: #f36379;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family: 'klavika_medium', sans-serif;
    font-weight: 300;
}

.ulLink li {
    float: left;
}

.ulLink a {
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 17px;
    padding: 10px;
    padding-left: 12px;
}

.outerRow li {
    width: 50%;
    float: left;
    text-align: left;
    padding: 12px
}

.outerRow li:last-child {
    text-align: right
}
.outerRowSocial h4{
    font-size: 17px;
    font-weight: 300;
    color: #444444;
     font-family: 'klavika_medium', sans-serif;
}

.outerRowSocial li {
    display: inline-block;
    padding: 2px;
}

.outerRowSocial li a {
    color: white;
    padding: 12px 18px;
    padding-left: 31px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
}

.outerRowSocial li:last-child a {
    border: 1px solid #cfcfcf;
}

.outerRowSocial {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.pageContent p a {
    color: #1d8bfc
}

.outerRowSocial ul {
    display: inline-block;
    padding-top: 20px;
}

.outerRowSocial li a:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: right;
    width: 30px;
    height: 100%;
}

.twitter a:before {
    background-image: url('../../assets/images/twitter_icon.png');
}

.facebook a:before {
    background-image: url('../../assets/images/facebook_icon.png');
}

.google a:before {
    background-image: url('../../assets/images/google.png');
}

.outerRowSocial li.google a {
    color: black
}

.twitter a {
    background-color: #57acef;
}

.facebook a {
    background-color: #3c5899;
}

.google a {
    background-color: #f8f8f8;
}


/*----------------------------------------------Registration------------------------*/

.mainContain.Register {
    height: auto;
}

.Register .mobileCover {
    padding-top: 46px;
}

.Register .wrapper {
    padding-bottom: 30px;
    padding-top: 30px;
}

.registerBox:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid white;
    top: 0px;
    position: absolute;
    left: 0px;
    margin-top: -17px;
    margin-left: 80px;
}


/*.registerTrax .loginBox{display: none;}
.registerTrax .registerBox{display: block;}*/

.doubleRow .row {
    float: left;
    width: 50%;
    padding: 0;
}

.doubleRow .row:nth-child(1) {
    padding-right: 5px
}

.doubleRow .row:nth-child(2) {
    padding-left: 5px
}


/*--------------------------------Forgot Password--------------------------------------------*/

.mainContain.forgotPass {
    background: none;
}

.mainContain.forgotPass .wrapper {
    background-color: white;
    text-align: left;
}

.mainContain.forgotPass .contain {
    text-align: left;
}

.mainContain.forgotPass form {
    width: 500px;
    padding-top: 50px;
}

.mainContain.forgotPass form input[type="text"] {
    border-top: none;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 20px;
}

.mainContain.forgotPass h3 {
    font-size: 26px;
    color: #666161;
    font-weight: 300;
}

.mainContain.forgotPass h5 {
    font-size: 17px;
    color: #666161;
    font-weight: 300;
}

.row.error {
    color: red;
    padding-top: 14px;
}

.row.success {
    color: #0054ff;
    padding-top: 14px;
}
/*-----------------------Reset Password------------------------------*/
.mainContain.resetPass {
    background-image: none;

}
.mainContain.resetPass .wrapper{
    background-color: white;
}
.mainContain.resetPass .forgotPassContent{
    text-align: left;
}
.mainContain.resetPass .forgotPassContent form{
    width: 400px;
}
.mainContain.resetPass .forgotPassContent h3{
    font-family: 'klavika_regular', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #3e3c3c;
}
.mainContain.resetPass .forgotPassContent h5{
    font-family: 'klavika_regular', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #3e3c3c;
    padding-bottom: 20px;
}
.mainContain.resetPass .row.last input{
    border-bottom: none;
}
.mainContain.resetPass .row input[type='submit']{
    font-family: 'klavika_medium', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
/*----------------------------Common User logged footer--------------------------------------------*/

.mainContain.trending {
    background: none;
    background-color: #eaeaea;
    height: auto;
    min-height: 100%;
}

.mainContain.trending .wrapper {
    padding: 0px;
    display: block;
    background-color: transparent;
}

footer.appFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}
footer.appFooter .wrapper{
    padding-top: 25px;
}
footer.appFooter .wrapper.loggedIn {
    padding-top: 0px;
}
.appFooter .footerCopyright {
    padding-top: 0px;
}

.appFooter .loggedIn .footerCopyright > div {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listSecWrapper {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
    -o-box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
}

.appListSec {
    padding: 50px;
    padding-left: 410px;
}

.appSection {
    min-height: 100vh;
    width: 100%;
    padding-top: 90px;
    display: block;
    height: auto;
}

.imgSec {
    height: 300px;
    float: left;
    width: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid rgba(0, 0, 0, 0.14)
}

.listData {
    float: left;
    width: 100%;
}

.listContent {
    height: 100%;
    width: 100%;
    display: table;
}

.itemlists > div {
    padding-bottom: 20px;
}

.listContent h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 25px;
    padding-bottom: 60px;
}

.listContent h3 a{
    color: #444444;
    font-size: 21px;
    font-weight: 300;
}

.pageLoad{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.userPanel {
    background-color: white;
    position: absolute;
    min-height: 100vh;
    height: 100%;
    padding-top: 90px;
    width: 365px;
    z-index: 999;
}

.userControl {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    padding: 25px;
    padding-bottom: 30px;
}

.userControl a {
    display: inline-block;
    padding-left: 45px;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    margin-left: 40px;
    font-family: 'klavika_medium', sans-serif;
}

.userControl a.postive span {
    background-color: #f36379;
    padding: 3px 8px;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    position: relative;
    top: -15px;
    left: -10px;
}

.userControl a:first-child {
    margin-left: 0px;
}

.postive:before {
    content: "";
    background-image: url(../../assets/images/positive_icon.png);
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: -5px;
}

.article:before {
    content: "";
    background-image: url(../../assets/images/attach_icon.png);
    background-size: 26px;
    background-position: right top;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: -5px;
}

.dropdown {
    position: absolute;
    right: 0px;
    TOP: 0px;
    z-index: 99;
    text-align: right;
}

.dropdown ul {
    display: none;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #b7b7b7;
    width: 365px;
    text-align: left;
    border-radius: 4px;
    z-index: 9;
    margin-right: 35px;
}

.dropdownui {
    display: inline-block;
    position: relative;
    left: 0px;
    top: 5px;
    z-index: 9;
    cursor: pointer;
    padding: 12px 25px;
    padding-bottom: 0;
    font-size: 31px;
    color: #8a8a8a;
}

.dropdown:hover ul {
    display: block;
}

.dropLists label {
    display: block;
    width: 100%;
    padding: 18px 20px;
    position: relative;
    padding-left: 45px;
    font-size: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.dropLists li:hover label {
    background-color: #f36379;
    color: white;
}

.dropLists label:before {
    content: "";
    background-image: url(../../assets/images/ques.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    width: 55px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
}

.dropLists li:first-child label:before {
    background-image: url(../../assets/images/hidequestion.png);
}

.dropLists input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.dropLists input:checked + label:after {
    content: "";
    background-image: url(../../assets/images/tick_icon.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 70px;
    height: 100%;
    display: block;
    right: 0px;
    top: 0px;
}

.dropLists li:hover input:checked + label:after {
    background-image: url(../../assets/images/tick_icon-white.png);
}

.userWrap {
    padding: 20px;
}

.userPrf {
    padding: 27px 65px;
}
.userPrf > div{
   max-height: 180px;
   min-height: auto;
   height: auto;
    width: 180px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px #626262;
    -moz-box-shadow: 0px 0px 3px 0px #626262;
    -o-box-shadow: 0px 0px 3px 0px #626262;
    -webkit-box-shadow: 0px 0px 3px 0px #626262;
    border-radius: 6px;

}
.userPrf > div span{
    position: absolute;
    width: 100%;
    display: block;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../../assets/images/upload.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    left: 0px;bottom: 0px;
   /* -webkit-transform: translateY(100%);
    transform: translateY(100%);*/
}
.userPrf span input{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
}
/*.userPrf > div:hover span{
    transform: translateY(0%);
}*/
.userPrf > div,.change_pic .imgContain{
    background-image: url(../../assets/images/no_avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    height: auto;width: 100%;
    border-radius: 6px;
}
.userPrf > div{
    min-height: auto;
}
.userMenu {
    padding: 20px 65px;
}

.userMenu h3 {
    color: #5d5c5c;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 10px;
    font-weight: 700;

}

.userMenu li a{
    padding: 12px 20px;
    padding-left: 0;
    display: block;
    color: #808080;
    font-size: 18px;
    border-bottom: 1px solid #b4b4b4;
    font-family: 'klavika_regular', sans-serif;
}
.userMenu .entertainment{
    padding-bottom: 15px;border-bottom: 1px solid #b4b4b4;
}
.userMenu .entertainment li a{
    border:none;
}
.userMenu li a.active{
    color: #f36077;
}
.userMenu li a.active:before {
    content: "";
    height: 104%;
    position: absolute;
    width: 100%;
    background-color: #f36379;
    left: -25%;
    top: -1px;
    border: 4px solid #f36379;
    transform: translateX(-100%);
}

.userMenu li a .userPrf > div {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px 0px #cfcece;
    -moz-box-shadow: 0px 0px 14px 0px #cfcece;
    -ms-box-shadow: 0px 0px 14px 0px #cfcece;
    box-shadow: 0px 0px 14px 0px #cfcece;
}

.userProfile {
    font-size: 18px;
    padding-top: 5px;
    display: block;
    color: #3591ea;
    font-weight: 500;
}

.userDetail {
    text-align: center;
    color: #555555;
}

.followDetails {
    text-align: center;
    color: #555555;
}

.followDetails > div {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 25px;
    color: #555555;
    font-weight: 500;
}

.followDetails > div span {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    font-family: 'klavika_medium', sans-serif;
}


/*-------------------------------------Detailed Trending Page----------------------------*/

.trendingSingle .listSec .listSecWrapper {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: left;
}
.trendingPage  .listSecWrapper .imgSec{
    position: relative;
    overflow: hidden;
}
.trendingPage  .listSecWrapper .imgSec:after{
    content: "";
    background-image: url(../../assets/images/link.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.trendingPage  .listSecWrapper:hover .imgSec:after{
    content: "";
    background-image: url(../../assets/images/link.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.trendingSingle .listSec .listData {
    background: rgba(0, 0, 0, 0.5);
}

.trendingSingle .listSec .listContent h3 {
    color: white;
    text-align: center;
    font-size: 32px;
    padding: 0 20%;
}

.trendingSingle .listSec .userControl {
    text-align: center;
}

.trendingSingle .listSec .userControl a {
    color: white;
}

.trendingSingle .backArrow a {
    display: inline-block;
    padding-left: 45px;
}

.trendingSingle .backArrow a:before {
    content: "";
    background-image: url(../../assets/images/backArrow.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    width: 25px;
    height: 18px;
    display: block;
    position: absolute;
    left: 0px;
}

.trendingSingle .countList {
    position: absolute;
    left: 0;
    top: 0;
}

.trendingSingle .countList h4 {
    background-color: #f36379;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.trendingSingle .itemSubLists .listContent {
    padding: 70px;
    display: block;
    padding-bottom: 35px;
    padding-top: 80px;
}

.trendingSingle .itemSubLists .listContent h3 {
    padding: 0;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    font-family: 'klavika_regular', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: #444444;
}

.trendingSingle .userEvent a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #ebebeb;
    padding-left: 30px;
    margin-right: 5px;
    text-transform: uppercase;
    font-family: 'klavika_regular', sans-serif;
    font-size: 15px;
    font-weight: 300;
    border-radius: 1px;
    width: auto;
    text-align: center;
}

.trendingSingle .userEvent a:hover{
    background-color: #f36379 !important;
    color: white !important;
}
.trendingSingle .disabledTag .userEvent a,.BallotBox .disabledTag .ballotContain > div > a{
    pointer-events: none;
    background-color: #dedede !important;
    color: silver !important;
}
.trendingSingle .disabledTag .userEvent a.active,.BallotBox .disabledTag .ballotContain > div > a.active{
    background-color: #f36379 !important;
    color: white !important;
}
.totalUsers {
    padding-left: 20px;
    padding-top: 3px;
    position: relative;
}

.totalUsers:before {
    content: "";
    background-image: url(../../assets/images/user_icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 17px;
    height: 23px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.trendingSingle .userEvent a:before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    left: 17px;
    top: 16px;
}

.trendingSingle .userEvent a:hover:before {}

.trendingSingle .userEvent a.Agree:before {
    background-color: #93b845;
}
.trendingSingle .userEvent a.Disagree:before {
    background-color: #f36379;
}

.trendingSingle .userEvent a.Not.Sure:before {
    background-color: #f3b338;
}

.userResult {
    padding-top: 20px;
    padding-bottom: 10px;
}

.userResult > div > div {
    padding-bottom: 2px;
    padding-top: 2px;
}
.userResult > div > div.headLabel{
    padding-bottom: 11px;
}
.userResult label {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    font-family: 'klavika_regular', sans-serif;
    color: #353535;
    margin-top: 0px;
    position: relative;
}

.userResult label.resultLabel,
.headLabel label:first-child {
    width: 80px;
    text-align: left;
}

.userResult label.resultBar {
    width: 40%;
    display: inline-block;
    height: 8px;
    background-color: #ebebeb;
    top: -1px;
    position: relative;
    overflow: hidden;
}

.userResult .headLabel label {
    font-size: 17px;
    color: #474747;
    background-color: transparent;
}
.resultLabel{
    text-transform: capitalize;
}
span.agree {
    background-color: #93b845;
    display: block;
    height: 100%;
}

span.disagree {
    background-color: #f36379;
    display: block;
    height: 100%;
}

span.notsure {
    background-color: #f3b338;
    display: block;
    height: 100%;
}

.userResult label.resultBar span {
    -webkit-animation: resultBar 0.6s forwards;
    /* Safari 4+ */
    -moz-animation: resultBar 0.6s forwards;
    /* Fx 5+ */
    -o-animation: resultBar 0.6s forwards;
    /* Opera 12+ */
    animation: resultBar 0.6s forwards;
    /* IE 10+, Fx 29+ */
}

@keyframes resultBar {
    0%{
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0);
    }
}
.trendingSingle .disabledTag .userResult{
    display: block;
}

.shareBtn {
    position: absolute;
    right: 20px;
    bottom: 13px;
}

.shareBtn a {
    background-image: url(../../assets/images/share_icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center top;
    width: auto;
    height: auto;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding-top: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'klavika_regular', sans-serif;
    font-size: 15px;
    font-weight: 300;
    border-radius: 2px;
}

.shareBtn a:hover {
    background-image: url(../../assets/images/share_icon_hover.png);
    color: #f36379;
}

/*--------------------------Category-------------------------------*/
.categoryLists > div{
    background-color: white;
    padding: 14px 25px;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: right;
}
.categoryLists > div > div{
    float:left;width:50%;
}
.categoryLists .countof{
    padding-top: 13px;
}

.categoryLists select{
    width: 310px;
    height: 43px;
    padding-left: 19px;
}
.categoryLists select option{
     padding: 14px;
     padding-left: 19px;
}
/*-----------------------------Rating----------------------------*/

.rateText a i,.hoverRating .rating a.rating-highlight i{
   font-size: 22px;
    color: #f36379;
}
.rating_section h3 {
    color: #888888;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    float: left;
    text-align: center;
}

.rating_section {
    padding: 50px 15px 15px;
    float: left;
    width: 100%;
}

.rateText > span {
    display: block;
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}

.rateText {
    display: table;
    margin: 0 auto;
    padding-top: 5px;
    line-height: 16px;
}
.movies_list .listSecWrapper{
    overflow: hidden;
}
.movies_list .listSecWrapper .imgSec {
    height: auto;
    background-position: center center;
    background-repeat: repeat;
    transition:all 0.3s ease-in-out;
}
.movies_list .categoryLists .countof,.Sports .categoryLists .countof{
    text-align: left
}
/*---------------Animation-----------------------*/
.movies_list .listSecWrapper .imgSec,.Awards .listContent a{
     -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.movies_list .listSecWrapper:hover .imgSec,.Awards .listContent a:hover{
   -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.rating_section > ul {
    border-top: 1px solid #ccc;
}

.rateText.answered .rateClass{
    display: none;
}
.tapUserCon .rateText.answered a i{
    color: #f36379;
}
.rateText a {
    height: auto;
    width: auto;
    display: block;
    display: table-cell;
    vertical-align: middle;
}

/*---------------------movies--------------------------*/

.userView {
    background-color: #fff;
    overflow: auto;
    display: block;
    height: 100%;

}

.movies_details {
    padding: 15px;
}

.movies_details li {
    color: #ccc;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    width: 19%;
    font-family: 'klavika_medium', sans-serif;
}

.movies_details li:nth-child(2) {
    text-align: center;
    text-transform: uppercase;
    width: 60%;
}

.movies_details li:last-child {
    text-align: right;
}

.movies_details li span {
    padding: 0 5px;
    font-family: 'klavika_medium', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.movies_name {
    padding: 5px 15px;
}

.movies_name h3 {
    padding: 0;
    color: #222222;
    font-size: 21px;
    font-weight: 300;
}

.movies_category {
    padding: 10px 0 25px 0;
}

.movies_category li {
    border: 1px solid #cccccc;
    border-radius: 15px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
    padding: 5px 18px;
    text-align: center;
    width: auto;

}

.director {
    padding: 0 15px;
}

.director p label {
    display: inline-block;
    font-size:16px;
    font-weight: 500;
    text-align: right;
    width: 60px;
    color: #888888;
}

.director p span {
    padding-left: 5px;
    color: #222222;
    font-size:16px;
    font-weight: 500;
}
.tapUserCon .rateText a i {
    color: #888888;
}
.rating_section li {
    float: left;
    display: table;
    width: 30%;
    height: 80px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
    position: relative;
}
.rating_section li.tapUserCon{
    width: 40%;
}
.rating_section li:last-child {
    border: none;
}
.adjustlabel{
    padding: 12px;padding-left: 6px;
    display: block;
}
.review_con {
    display: table-cell;
    vertical-align: middle;
}

.hoverRating {
    position: absolute;
    left: 0;
    top: 32px;
    background-color: white;
    height: auto;
    margin: auto;
    display: none;
    width: 98%;
    text-align: center;
}
.hoverRating .rating{
    margin: 0;
    padding: 1px;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    width: auto;
    padding-top: 1px;
}
.rating_section .hoverRating li{
    border: none;
    width: auto;
    height: auto;
}
.rating_section ul li.tapUserCon:hover .hoverRating{
    display: inline-block;
}

.hoverRating .rating a{
    border: none;
    width: auto;
    height: auto;
    padding: 2px 1px;
    display: inline-block;
}
.hoverRating .rating a i{
    font-size: 22px;
    padding-top: 7px;
}
.hoverRating .rating a .fa-star{
    color: #f36379;
}
.hoverRating .rating a .fa-star-o.fa-star{
    color: #f36379;
}
.hoverRating .rating a .fa-star-o.fa-star:before{
    content: "\f005";
}
.tapUserCon .rateText.rated a i{
    color: #f36379;
}
.tapUserCon .rateText.rated .rateLabel{
    display: none;
}
.tapUserCon .rateText .showvalue{
    display: none;
}
.tapUserCon .rateText.rated .showvalue{
    display: inherit;
}
/*-------------------------------------------Sports---------------------------------------------*/
.pageLoad.Sports{
    height: auto;
}
.pageLoad.Sports .imgSec{
    height: 325px;
}
.pageLoad.Sports .wrapper{
    padding: 0px;
    display: block;
    background-color: transparent;
}
.pageLoad.Sports .listContent{
    padding: 25px;
}
.pageLoad.Sports .listContent >  h4{
    position: absolute;
    top: 0;
    margin-top: 25px;
    font-size: 18px;
    font-family: 'klavika_medium', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: gray;
}
.pageLoad.Sports .listContent h3{
    display: inline-block;
    padding: 0px;
    font-size: 21px;
    font-weight: 300;
}
.pageLoad.Sports .listContent > div{
    display: table-cell;vertical-align: middle;padding-bottom: 35px;
}
.Sports .rating_section{
    padding: 0;
    float: none;
}
.Sports .rating_section > ul > li{
    width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
}
.Sports .userControl{
    padding-bottom: 15px;
}
.Sports .rateText > span{
    padding-top: 0px;
}
.Sports .hoverRating .rating a {
    border: none;
    width: auto;
    height: auto;
    margin: 1px;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
}
/*--------------------------ballotbox----------------------------*/
.mainContain.BallotBox .wrapper{
    padding: 0px;
    display: block;
    background-color: transparent;
}
.mainContain.BallotBox {
    height: auto;
    min-height: 100%;
}
.BallotBox .listContent{
    padding: 35px 35px 25px;
}
.BallotBox .listContent h4{
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    color: #cccccc;
}
.BallotBox .listContent h4 span{
    padding: 0px 6px;
    font-size: 16px;
    font-family: 'klavika_medium', sans-serif;
    font-weight: 300;
}
.BallotBox .shareBtn {
    position: absolute;
    right: 37px;
    bottom: 40px;
}
.BallotBox .listContent h3{
    padding:0;
    display: block;
    padding-top: 25px;
    padding-bottom: 30px;
    color: #444444;
    font-size: 21px;
    font-weight: 300;
}
.BallotBox .ballorLists{text-align: center;}
.BallotBox .ballotContain{
    padding-top: 10px;display: inline-block;
}
.BallotBox .ballotContain > div {
    float: none;
    width: auto;
    text-align: left;
    padding: 10px;
    max-width: 100%;
    display: inline-block;

}
.BallotBox .ballotContain > div > a{
    display: inline-block;
    padding: 15px 35px;
    text-align: left;
    text-transform: capitalize;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 100%;

}
.BallotBox .ballotContain > div > a:hover{
    background-color: #f36379 !important;
    color: white !important;
    border:1px solid #f36379;
}
.BallotBox .ballotContain > div > a.active{
    background-color: #f36379 !important;
    color: white !important;
    border:1px solid #f36379;
}
.BallotBox .dropdownui{
    background-image: url(../../assets/images/dotpoint.png);
    background-size: 4px;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 30px;
    margin-top: 25px;
}
.BallotBox .dropdownui i{
    display: none;
}
.nvd3 .nv-legend .nv-series text{
    font-family: 'klavika_regular', sans-serif;
    text-transform: capitalize;
    font-size:16px;
}
/*---------------------------------*/
.BallotBox .userResult{
    display: block;
}
.chartBar{
   width: 100%;
}
/*--------------------------------Paginate---------------------------*/
.pagninate{text-align: right;}
.pagninate > div{
    display:block;width: 100%;

}
.pagninate > div > div{
    float: left;
    width:50%;
    margin-top:10px;
    margin-bottom:10px;
    height: 45px;
    display: table;
}
/*.paginate .home{
    width: auto;height: auto;padding:6px;
}*/
.pagninate a{
    width: 50px;
    height: 45px;
    display: inline-block;
    background-color: white;
    margin-left: 4px;
    text-align: center;
    padding-top: 13px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 300;
    box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
   -o-box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
   box-shadow: 0px 0px 11px 0px rgba(199, 199, 199, 0.75);
}
/*.pagninate > div > div.next{
    text-align: right;
    float:right;
}*/
.pagninate > div > div.countof{
    text-align: left;
}
.pagninate > div > div label{
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 300;
    font-family: 'klavika_regular', sans-serif;
}
.prev{
    text-align: left;
}
.pagninateDown{
    text-align: center;
}
.pagninateDown div{
    display: inline-block;
}
.pagninateDown .prev a{
    background-image: url(../../assets/images/backArrow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 40px;
    height: 20px;
    display: block;
}
.pagninateDown .next a{
    background-image: url(../../assets/images/backArrow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 40px;
    height: 20px;
    display: block;
    -webkit-transform: rotate(180%);
    transform: rotate(180deg);
}
.pagninateDown a{

}
.pagninateDown a.activeTag{
    pointer-events: unset;
     opacity: 1;
}
.enterPath h2{
    font-weight: 500;
    padding: 20px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    font-size: 20px;
}
.userEnter p{
    font-size: 16px;
    font-weight: 300;
}
/***dashboard***/
.tabContent .ng-hide {
    display: none;
}
.tabList {
   background-color: #f4f4f4;
    float: left;
    width: 100%;
}
.tabList li {
    float: left;
    padding: 0 5px 0 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    margin-right: 15px;
    margin-left: 15px;
}
.tabList li:hover{border-bottom: 5px solid #f36379;background-color: #f36379;}
.tabList li:hover a{color:white}
.tabList li.active{border-bottom: 5px solid #f36379;}
.tabList li.active a{color:#f36379;}
.tabList li.active:hover a{color:white;}
.tabList li a {
   display: block;
    padding: 10px 15px;
    z-index: 99;
    font-size: 18px;
    font-weight: 500;
}
.dashBoardView{
    display: table;
    padding: 10px 0;
    width: 100%;
}
.profileInfo{
    height: 71px;
}
.userImg{
    height: 100%;
    margin: auto;
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    width: 60px;
    float:left;
    background-image: url("../../assets/images/no_avatar.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-shadow: 0 0 3px 0 #a29898 inset;
    border-radius: 3px;
}
.userImg img {
    min-height:60px;
    height: auto;
    width: 100%;
}
.dashBoardView .listContent h3 {
    display: block;
    padding: 0 0 20px;
    width: 100%;
    font-size: 22px;
    font-family: 'klavika_regular', sans-serif;
    font-weight: 300;
    color: #444444;
}
.dashboard .TrendingDashboard .listContent {
    padding: 80px 70px 35px;
}
.dashboard .TrendingDashboard .listSec .listSecWrapper .listContent h3{
    color: white;
    font-size: 22px;
    font-family: 'klavika_regular', sans-serif;
    font-weight: 300;
}
.listSec .dashboard .listContent{
    padding: 40px 70px 70px;
}
.timeline .userDetail,.dashboard .userDetail{
    float: left;
    padding-left: 15px;
    padding-top: 0px;
    height: 100%;
    display: table;
}
.userDetail .userName {
    font-family: 'klavika_medium', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.profileInfo {
    border-bottom: 1px solid #acacac;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}
.dashboard .countList h4 {
    background-color: #f36379;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    width: 50px;
}
.dashboard .userEvent a.Agree::before {
    background-color: #93b845;
}
.dashboard .userEvent a::before {
    content: "";
    height: 6px;
    left: 17px;
    position: absolute;
    top: 16px;
    width: 6px;
}

.dashboard .userEvent a.Disagree::before {
    background-color: #f36379;
}
.dashboard .userEvent a.Not.Sure::before {
    background-color: #f3b338;
}
.dashboard .countList {
    left: 0;
    position: absolute;
    top: 0;
}
.dashboard .disabledTag .userResult {
    display: block;
}
.dashboard .disabledTag .userEvent a {
    background-color: #f2f2f2;
    color: #cecece;
    pointer-events: none;
}
.dashboard .userEvent a {
    background-color: #ebebeb;
    display: inline-block;
    margin-right: 5px;
    padding: 10px 25px 10px 30px;
}
.dashboard .disabledTag .userEvent a.active {
    background-color: #e3e3e3;
    color: #656363;
}
.dashboard .userEvent a:hover {
    background-color: #f36379;
    color: white;
}
// .dashboard .listSec .listContent h3 {
//     color: white;
//     font-size: 32px;
//     padding: 0 20%;
//     text-align: center;
// }
.dashboard .TrendingDashboard .listSec .listData {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.dashboard .TrendingDashboard .listSec .listSecWrapper {
    background-origin: content-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}
.dashboard .listSec {
    float: left;
    padding: 15px 0 5px;
    width: 100%;
}
.dashboard .listSec .userControl {
    text-align: center;
}
.dashboard .listSec .userControl a {
    color: white;
}
.dashboard .itemSubLists {
    display: table;
    width: 100%;
}
.Timeline .listContent {padding: 25px;}
.TimelineCon h3 {
    display: block;
    padding-bottom: 25px;
    width: 100%;
    padding-left: 0;
    font-size: 21px;
    font-weight: 300;
    color: #444444;
}
.TimelineCon .userResult{
    padding-bottom: 0px;
}
.TimelineCon {
    display: table;
    width: 100%;
}
.dateFormat p {
     display: inline-block;
    font-weight: 300;
    font-size: 15px;
    padding-right: 10px;
}
.dateFormat p.expire{
     padding-left: 10px;
     font-family: 'klavika_medium', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #444444;
}
.Timeline .userName {
    padding-bottom: 5px;
    text-align: left;
}
.Timeline .listSecWrapper{
    display: block;
}
.Timeline .listData{
    width: 100%;float: none;
}
.timeline .Timeline .dropdownui{
    background-image: url(../../assets/images/dotpoint.png);
    background-size: 4px;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 30px;
    margin-top: 25px;
}
.timeline .Timeline .dropdown ul li a{
    display: block;
    padding: 16px;
}
.timeline .Timeline .dropdown ul li a:hover{
    background-color: #f36379;
    color: white;
}
.timeline .allTimeline .dropdownui i{
    display: none;
}
.ListView.Timeline {
    padding: 15px 0;
}
.tabContent.jumbotron {
    clear: both;
    width: 100%;
}
.timelinepost {
    background-color: #fff;
    float: left;
    margin-bottom: 15px;
    padding: 25px;
    width: 100%;
}
.timelinepost .profileInfo {
   margin-bottom: 15px;
    padding: 0;
    padding-bottom: 0px;
    float: none;
    padding-bottom: 10px;
}
.profile_left{
    height: 100%;
    display: block;
}
.profile_left .userImg{border: 1px solid #a19d9d;}
.tabView{clear:both;}
.timeline .userDetail > div,.dashboard .userDetail > div{
    clear: both;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}
.popup{
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.popup.ng-hide{
     opacity: 0;
}
.popup.ng-hide .ng-modal-dialog{
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.popup .ng-modal-dialog{
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.popup .categorycon{
    padding-bottom: 10px;
}
.popup .categorycon label{
    display: block;
    width: 30%;
    float: left;
    padding-top: 10px;
}
.popup .ng-modal-overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.popup .ng-modal{
    width: 100%;
    height: 100%;
    display: table;
}
.popup .ng-modal > div{
    display: table-cell;
    vertical-align: middle;
}
.popup .ng-modal.ng-isolate-scope {
     height: auto;
    left: 40%;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    width: 65%;
    z-index: 9999;
}
.popup .ng-modal-dialog {
    background-color: #fff;
    display: table;
    float: none;
    height: auto !important;
    margin: 0 auto;
    position: relative;
    width: 600px;
    z-index: 9999;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.31);
    -o-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.31);


}
.popup select option {
    padding: 5px 10px;
    font-family: 'klavika_regular', sans-serif;
}
.popup select {
    font-size: 15px;
    height: 40px;
    padding:6px;
    width: 70%;
    border: 1px solid #ccc;
    font-family: 'klavika_regular', sans-serif;

}
.formbutton{margin-top:15px;}
.formbutton .ng-modal-close {
    background-color: red;
    color: #fff;
    float: right;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    text-transform: uppercase;
    margin-right: 5px;
    border: medium none;
    border-radius: 3px;
    font-family: 'klavika_regular', sans-serif;
    cursor: pointer;

}
.formbutton .ng-modal-submit{
    background-color: red;
    color: #fff;
    float: right;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    text-transform: uppercase;
    margin-right: 5px;
    border: medium none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'klavika_regular', sans-serif;

}
.popup textarea {
    border: 1px solid #ccc;
    height: 120px;
    margin-top: 10px;
    resize: none;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 3px;
}
.pageLoad.following {
    background-color: #fff;
    clear: both;
    display: table;
    box-shadow: 0px 0px 4px 0px rgba(206, 206, 206, 0.5);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(206, 206, 206, 0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(206, 206, 206, 0.5);
    -o-box-shadow: 0px 0px 4px 0px rgba(206, 206, 206, 0.5);
}
.followContents{
    padding:30px;
}
.followContents input[type="search"],
.followContents input[type="text"]{
    width: 100%;
    height: 56px;
    padding-left: 30px;
    background-color: #e9e9e9;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}

.followingdetails {
    float: none;
    margin: 0;
    padding-top: 15px;
    width:100%;
}
.followingdetails > div{
    border-bottom: 1px solid #42474b;
    padding-bottom: 15px;
}
.followingdetails img {
    float: left;
    height: 50px;
    width: 50px;
}
.followingdetails p {
    float: left;
    padding: 0 15px;
    padding-top: 17px;

}
.following .tabList li {
    border: medium none;
    margin: 0;
    padding: 0;
    width: 50%;
}
.following .tabList li a {
    display: block;
    padding: 25px 15px;
    text-align: center;
    z-index: 99;
}
.following .tabList li.active {
    background-color: white;
}
.following .tabList li.active a{color: #000;}
.following .tabList li.active:hover a{color: #000;}
.followingdetails:last-child .contentwrapper{
    border-bottom: medium none;
}
.following .tabList li:first-child.active a:after{
    content: "";
    background-image: url("../../assets/images/tab_border.png");
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 0;
    right: -6px;
    height: 100%;
    width: 12px;
    background-size: contain;

}
.following .tabList li:last-child.active a:before{
    content: "";
    background-image: url("../../assets/images/tab_border-left.png");
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 0;
    left: -12px;
    height: 100%;
    width: 12px;
    background-size: contain;

}
.followingdetails a{
    background-color: transparent;
    color: #666464;
    float: right;
    font-size: 16px;
    margin-top: 5px;
    padding: 11px 25px;
    font-weight: 300;
    border-radius: 3px;
    border: 1px solid rgb(146, 144, 144);
}
.followingdetails a.ProfUrl{
    float: none;
    margin: 0;
    padding: 0;
    font-size: initial;
    background-color: transparent;
    border: none;
    display: inline-block;
}
.followingdetails a.ProfUrl:hover{
    background-color: transparent;
    border: none;
}
.followingdetails a.ProfUrl:hover p{
    color: #f36379;
}
.followingdetails a.Follow{
    background-color: #42474b;
    color: #fff;
    float: right;
    font-size: 16px;
    margin-top: 9px;
    padding: 11px 25px;
    font-weight: 300;
    border-radius: 3px;
}

.followingdetails a:hover{
    background-color: #f36379;
    color:white;
    border: 1px solid #f36379;
}
.followingdetails img {
    background-image: url("../../assets/images/no_avatar.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
   -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.45);
   -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.45);
   -o-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.45);
   box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.45);
}
/*---------------------Tap User Search---------Header Part-------------------------*/
.tapUserSearch{
    display: inline-block;
    width:400px;
}
.navigation .tapUserSearch li{
    float: none;
    padding-left: 0px;padding-top: 2px;padding-right: 4px;
}
.tapUserSearch div{
    display: block;
    height: 45px;
    position: relative;

}
.tapUserSearch div form{
    height: 100%;width: 100%;display: block;
}
.tapUserSearch input[type="search"],
.tapUserSearch input[type="text"]{
    background-color: #e9e9e9;
    border: none;
    height: 100%;
    border-radius: 3px;
    width: 100%;
    display: block;
    text-indent: 20px;
    font-family: 'klavika_regular', sans-serif;
    font-size: 16px;
    font-weight: 400;

}
.tapUserSearch input[type="image"],
.tapUserSearch input[type="submit"],
.tapUserSearch .dropdown a.csearchIcon{
    background-image: url("../../assets/images/userSearch.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    border: none;
    width: 54px;
    height: 100%;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: transparent;
}
/*-------------------Logged User Profile--------------------------------*/
.userMenuList{
    position: absolute;
    width: 350px;
    padding-right: 85px;
    z-index: 9;
}
.userMenuList > ul{
    border-right: 1px solid #b0b0b0;
}
.userMenuList li {
    padding-left: 40px;
}
.userMenuList li.active{
    background-color: #f3f3f3;
}
.userMenuList li.active:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #e14848;
    margin-left: -2%;
    border-radius: 2px;
}
.usercover{
    background-color: white;
    padding: 35px;padding-left: 0;
    min-height: 250px;
}
.interests{
     min-height: 250px;
    height: 100%;
    display: table;
    width: 100%;
}
.interests a{
    padding: 10px 40px;
    border: 1px solid #b3b1b1;
    border-radius: 3px;
    margin: 2px;
    pointer-events: none;
    display: inline-block;
}
.interests > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.usercover .row{
    margin-bottom: 10px;
}
.userBrief{
   padding: 35px;
    padding-left: 350px;
    padding-top: 20px;

}
.userMenuList li a {
    display: block;
    padding: 16px;
    font-size: 17px;
    font-weight: 400;
}
.userPanelCtrl .userBrief input,.userPanelCtrl .userBrief select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    background-color: transparent;
    color: #4e4e4e;
    height: 42px;
    padding-left: 10px;
    vertical-align: bottom;
    font-size: 17px;
    font-weight: 300;
    font-family: 'klavika_regular', sans-serif;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;

}

.userPanelCtrl h3{
    padding: 20px 35px;
    background-color: #e5e5e5;
    font-size: 24px;
    font-weight: 500;
    color: #808080;
}
.userBrief .row label{
    float: left;color:black;
}
.userBrief .row label.label{
    padding-top: 10px;
    width: 20%;
    min-width: 135px;
    font-size: 16px;
    font-weight: 400;
}

.userBrief .row label:last-child{
    width: 75%;float: left;
}
.userBrief .edit{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -32px;
    margin-top: -36px;
}
.userBrief .edit input{
    font-size: 16px;
    font-weight: 300;
    color: #d40d0d;
    border: none;
    background: none;
}
.userBrief .edit input[aria-invalid="false"]{
    background-color: #f3f3f3;
}
.basic_info,.change_pass{
    padding-left:0px;
}
.basic_info .followButton{
    text-align: right;
}
.basic_info .followButton a.Follow{
   display: inline-block;
background-color: transparent;
padding: 8px 20px;
color: #535050;
border-radius: 3px;
border: 1px solid #5f5e5e;
}
.basic_info .followButton a.unFollow{
   display: inline-block;
    background-color: #7b7979;
    padding: 8px 20px;
    color: white;
    border-radius: 3px;
}
.emptypage{
    height: 100%;
    width: 100%;
    display: block;
}
.emptypage .empty_img{
    width: 270px;
    margin: auto;
    text-align: center;
    padding-top: 12%;

}
.change_pic{text-align: center;}
.change_pic > div{
    display: inline-block;
}
.change_pic .uploadData > div{
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
}
.change_pic .uploadData > div.takePic button{
    background-image: url("../../assets/images/upload.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #888888;
    background-size: 30px;
    position: relative;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;

}
.change_pic .imgContain{
  border: 1px solid #c8c8c8;
}
.change_pic .imgContain,.takePic > button{
    width: 200px;
    height: 200px;
    margin-bottom: 13px;
    border-radius: 8px;
    overflow: hidden;

}
.imgContain img,.takePic > button img{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}
.userPanelCtrl .userBrief .uploadPic input{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0;
    z-index: 999;
}
.change_pic .uploadData > div label{
    color: #f02e4c;
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
    display: block;
}

.empty_img .img{
   background-image: url("../../assets/images/cloud.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;
    border: none;
    width: auto;
    font-size: 0 !important;
    height: 220px;
}
.empty_img h3{
    font-size: 20px;
    font-weight: 700;
    color: dimgray;
}

.empty_img h5{
    font-size: 16px;
    font-weight: 300;
    color: dimgray;
}
.tapUserSearch .SearchList{
    position: absolute;
    width: 100%;
    max-height: 400px;
    background-color: white;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.27);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    overflow: auto;
}
.tapUserSearch  .SearchList ul{
    width: 100%;
    margin: 0;
}
.tapUserSearch  .SearchList li{
    float: none;
    padding: 0px;
    width: 100%;
}
.tapUserSearch  .SearchList li a {
    padding: 13px 20px;
    padding-left: 45px;
    text-align: left;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 15px;
    font-weight: 500;
}
.tapUserSearch  .SearchList li a:before{
    content:"";
    background-image: url(../../assets/images/no_avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 100%;
}
.tapUserSearch  .SearchList li a:hover{
    background-color: #f36379;
    color: white;
}
.tapUserSearch  .SearchList li:last-child a{
    border:none;
}
.otherProfile  .userMenuList img{
    height: 165px;
    width: 185px;
    border-radius: 5px;
    background: #7d7d7d;
    background-image: url(../../assets/images/no_avatar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:auto;

}
.otherProfile .usercover {
    min-height: 380px;
}
.otherProfile .otherPrfImg a{
    padding: 10px 13px;
}
.userBrief .row .col label {
    display: inline;
    float: none;
    width: auto;
    font-size: 18px;
    color: white;
    font-weight: 500;

}
.userBrief .row.last{
    padding-top: 35px;
    text-align: center;
}
.userBrief .row.last div{
    display: inline-block;
background-color: #7b7979;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.userBrief .row .col label:first-child {
    margin-right: 6px;

}
/*--------------------Interest Screen--------------------------*/
.interestPopup{
    position: fixed;
    left: 0;
    top:0;
    display: block;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}
.interestPopup > div{
    display: table;width: 100%;height: 100%;
}
modal-interest-dialog{
    display: table-cell;vertical-align: middle;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
}
modal-interest-dialog > form{
    width: 600px;
    margin: auto;
    background-color: white;
    padding-bottom: 0px;
    position: relative;
    border-radius: 5px;
    padding-top: 32px;
    overflow: hidden;

}
modal-interest-dialog .interestHead{

}
modal-interest-dialog .interestHead h3{
    font-size: 28px;
    font-weight: 400;
    color: #2c2c2c;
}
modal-interest-dialog .interestRate{
    position: relative;
    width: 100%;
    text-align: center;
    height: auto;
    background-color: white;
    border-top: 2px solid #b4b4b4;
    padding: 0;

}
modal-interest-dialog .close{
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    font-size: 18px;
    display: none;
}
modal-interest-dialog .interestRate .interestsCount{
    text-align: center;
    padding: 20px;
    height: 100%;
    margin:0;
    display: block;
}
modal-interest-dialog .interestRate .interestsCount .interestsCountRate{
    height: 2px;
    display: block;
    position: absolute;
    background-color: red;
    left: -5px;
    top: -2px;
}
modal-interest-dialog .interestRate .interestsCount h3{
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 300;
    font-family: 'klavika_medium', sans-serif;
    color: #444;
}
modal-interest-dialog .interestHead h5{
    font-size: 19px;
    font-weight: 300;
    color: #686666;
}
modal-interest-dialog .interestLists{
    min-height: 250px;
    max-height: 285px;
    overflow: auto;
    padding-bottom: 33px;
}
modal-interest-dialog > form > div{
    padding: 10px 40px;
    text-align: center;
}
modal-interest-dialog .searchInterest input{
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #a2a2a2;
    padding-left: 50px;
    color: #000;
    font-size: 16px;
    font-family: 'klavika_regular', sans-serif;
    font-weight: 400;

}
modal-interest-dialog .searchInterest input::placeholder{
    color: #686666;
    font-size: 18px;
    font-weight: 300;
    font-family: 'klavika_regular', sans-serif;
}
.searchInterest label{
    position: relative;
    display: block;
}
modal-interest-dialog > form > div > div{
    display: inline-block;
    position: relative;
    margin: 8px 3px;
    margin-bottom: 0;

}
modal-interest-dialog > form .interestLists label{
    padding: 10px 40px;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    position: relative;
    display: block;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
}
.searchInterest label:before{
    content:"";
    background-image: url("../../assets/images/search_transparent.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 35px;
    display:block;
    position: absolute;
    border: none;
    width: 50px;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
modal-interest-dialog .searchInterest{

}
modal-interest-dialog > form > div.interestLists > div input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 9;
    opacity: 0;
}
modal-interest-dialog > form div.activeBtn input{
    position: relative;
    display: inline-block;
    width: auto;
    padding: 11px 55px;
    background-color: #f36379;
    border: 1px solid #f36379;
    font-family: 'klavika_regular', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    border-radius: 2px;
}
modal-interest-dialog > form > div > div input:checked + label,modal-interest-dialog > form .interestLists label:hover{
    background-color: #f36379;
    border:1px solid #f36379;
    color: white;
}
.comment_section .commentRight input {
        border: none;
    background: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    width: 65px;
    height: auto;
    left: 0;
    position: absolute;
    line-height: normal;
    padding: 8px 0px;
    cursor: pointer;
}
.comment_section .commentRight{float: right;vertical-align: middle;position: relative;}
.comment_section .commentCount{float: left;vertical-align: middle;display: table-cell;}
.comment_section {
    width: 100%;
    clear: both;
    display: table;
	border-top: 1px solid #bfb9b9;
    margin-top: 10px;
    padding-top: 20px;
}
.commentRight .shareLabel,.commentRight .commentLabel{
    padding-left: 25px;
}
.commentRight .commentLabel:before{
    content:"";
    background-image: url(../../assets/images/comment-icon.png);
    background-position:left center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    border: none;
    width: 23px;
    height: 23px;
    top: -2px;
    left: -5px;

}
.commentRight .shareLabel a:before{
    content:"";
    background-image: url(../../assets/images/share_icon.png);
    background-position:left center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    border: none;
    width: 18px;
    height: 26px;
    top: -6px;
    left: -26px;

}
.userResult .commentRight label{
    padding-right: 30px;
}

.Commentshow{background-color:#f4f4f4;}
.commenrWrapper{padding:25px;}
.comment_post{background-color:#fff;padding:15px;}
.comment_post .userImg{border: 1px solid #c5c1c1;}
.commentPostright {display: table;width: 92%;padding-left: 10px;color: #484844;}
.Commentshow .userImg img{width:60px;height:50px;}
.commentPostright textarea {width: 100%;border: none;resize:none;font-size: 15px;font-family: 'klavika_regular', sans-serif;}
.commentPostright h2.userName {
    font-family: 'klavika_medium', sans-serif;
    font-size: 17px;
    font-weight: 300;
}
.viewComment{padding:15px;}
.userEvent {
    padding-bottom: 10px;
}

.viewuser_comment {
    display: table;
    width: 100%;
    padding: 11px 0px;
    border-bottom: 1px solid #bbbaba;
}
.viewuser_comment h3 {
    font-size: 17px;
    font-weight: 300;
    font-family: 'klavika_bold', sans-serif;
}
.nameTittle {
    display: table;
    width: 100%;
    padding-bottom: 5px;
}
.nameTittle h3 {
    float: left;
}
.nameTittle p {
    float: right;
    font-size: 15px;
}
.commentPostright button {
    float: right;
    background-color: #f36379;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;

}
.pageLoad.sharePage{
    max-width: 100%;
}
.pageLoad.sharePage .header{
    position: absolute;
    width: 100%;z-index: 99;
    left:0px;top:0px;height: auto;
}
.pageLoad.sharePage .listSecWrapper{
    height: 400px;background-color: #b3b3b3;
}
.pageLoad.sharePage .contentWrapper{
    width: 1200px;
    margin:0 auto;
    padding: 55px 0px;
}
.pageLoad.sharePage .contentWrapper h3{
    font-size: 33px;
    font-weight: 700;
    padding: 0px 0px;
}

.pageLoad.sharePage .contentWrapper h5{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}
.pageLoad.sharePage .contentWrapper h4{
    padding: 8px 0px;
    font-size: 19px;
}
.pageLoad.sharePage .contentWrapper p{
    padding-bottom: 15px;
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
    font-weight: 300;
}
.contentWrapper img{
    width: 100%;display: block;
}
.pageLoad.sharePage .header .contentWrapper{
    padding: 0;padding-top: 30px;
}

/*---------------------Awards Screen-------------------------*/
.Awards .listContent a{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;

}
.Awards .listContent a h3{
    display: block;
    padding: 55px;
    color: white;
    font-size: 28px;
    font-family: 'klavika_regular', sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.8);
}
.Awards .listContent a h3 label{
    color: white;
    right: 85px;
    position: absolute;
    top: 50px;
    background-color: #c21e1e;
    padding: 6px 15px;
    font-size: 22px;
    border-radius: 3px;
}
/**** Awards Details ****/
.awardSingle .listSec .listSecWrapper{background-position: center center;background-repeat: no-repeat;background-size: cover;height: 200px;}
.awardSingle .listSec .listSecWrapper .listData{background-color: rgba(0, 0, 0, 0.6);}
.awardSingle .listSec .listSecWrapper .listData .listContent h3 {
    color: #fff;
    display: table;
    font-size: 25px;
    font-weight: 600;
    padding: 0 0 5px;
    width: 100%;
}
.awardSingle .listSec .listSecWrapper .listData .listContent {padding:35px 25px;}
.awardSingle .listSec .listSecWrapper .listData .listContent h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 5px;
}
.awardSingle .listContentData {
    display: table-cell;
    vertical-align: middle;
}
.awardSingle .listSec .listSecWrapper .listData .listContent p{color:#fff;}
.awardSingle h3 {
    display: table;
    padding: 15px 0;
    width: 100%;
	font-size: 23px;
}
.awardSingle .userEvent {
    padding: 15px 0;
	width: 100%;
	display: table;
}
.awardSingle .listContent {
    padding: 15px 25px;
}
.awardSingle .userEvent a {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    float: left;
    margin-bottom: 15px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
	font-size: 18px;
	color: #a9a9a9;
}
.awardSingle .userEvent a:hover {
    background-color: #f36379;
	border: 1px solid #f36379;
    color: #fff;
}
.awardSingle .backArrow a::before {
    background-image: url("../../assets/images/backArrow.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    content: "";
    display: block;
    height: 18px;
    left: 0;
    position: absolute;
    width: 25px;
}
.awardSingle .backArrow a {
    display: inline-block;
    padding-left: 45px;
}
.awardSingle .userResult {
    display: block;
	padding-top: 0;
}
.awardSingle .userEvent a.active {
    background-color: #f36379;
    border: 1px solid #f36379;
    color: white;
}
.overlayLayer{
    position: fixed;
    display: table;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top:0;left: 0;
    background-color: rgba(0, 0, 0, 0.43);
}
.overlayLayer > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.overlayLayer > div > div{
    width: 500px;
    margin: auto;
}
.overlayLayer > div > div video{
    transform-origin: 0px 0px 0px;

    border-radius: 5px;
}
ng-camera{
    background-color: white;
    z-index: 9999;
    position: relative;
    display: block;
    border-radius: 2px;
    padding-top: 35px;
    padding-bottom: 25px;
    transform:scale(1) !important;
}
.overlayLayer > div > div img{
    position: absolute;
    right: -70px;
    top: -25px;
    z-index: 99999;
    width: 160px;
    border: 2px solid white;
}
.camClose{
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    width: 62px;
    height: 46px;
    z-index: 9999999;
    color: white;
    text-align: center;
    padding-top: 11px;
    font-family: 'klavika_regular', sans-serif;
    border-bottom-left-radius: 8px;
}
.ng-camera-countdown{
   position: absolute;
    width: 100%;
    top: 0px;
    z-index: 9;
    margin-top: 0;
    color: white;
}
.overlayLayer > div > div button{
    background-color: #f36379;
    color: white;
    border: 1px solid #f36379;
    display: inline-block;
    padding: 11px 25px;
    margin-top: 13px;
    font-family: 'klavika_regular', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
}
/****************External Page*******************/
.mainContain.externalPage{
    background: none;
    background-color: white;
    height: auto;
}
.mainContain.externalPage a{
   color:#f36379;
}
.mainContain.externalPage .wrapper{
    background-color: rgba(222, 222, 222, 0.4);
}
.privacyPolicy,.terms{
    padding:120px 60px;
    background-color: white;
    padding-bottom: 60px;
    font-family: 'klavika_regular', sans-serif;
}
.privacyPolicy h3,.terms h3{
    color: #484646;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 0px;
}
.privacyPolicy p,.terms p{
    color: #484646;
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0px;
    text-align: justify;
}
.privacyPolicy h1,.terms h1{
    color: #545454;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0px;
}
.privacyPolicy h4,.terms h4{
    color: #1b1818;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 30px;

}
.dashboard .listSec.ballotbox .listSecWrapper {
    background-color: white;
    box-shadow: 0 0 11px 0 rgba(199, 199, 199, 0.75);
    display: flex;
    width: 100%;
    height: auto;
}
.dashboard .listSec.ballotbox  .listData{
    background-color:#fff;
}
.dashtimeline .comment_post{
    background-color: transparent;
    padding: 0;
}
.hamburger_menu{
    display:none;
    margin-right: 16px;
    padding-top: 18px;
    width: 33px;
    margin-top: 8px;
    height: 45px;
}
.hamburger_menu a {
    background-image: url('../../assets/images/responsivemenu.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
.dateFormat p{border-right: 1px solid #ccc;}
.dateFormat p.expire{border-right: medium none;}
.awardSingle .disabledTag .userEvent a{pointer-events: none;background-color: #dedede !important;color: silver !important;}
.awardSingle .disabledTag .userEvent a.active{
    background-color: #f36379 !important;
    color: white !important;
}
/*-----------------404-------------------------*/
.page-404 .mainContain.externalPage{
    height: 100%;padding-top: 90px;
}
.page-404 .mainContain.externalPage .wrapper{background-color: white;display: table;width: 100%;height: 100%;}
.error{
   display: table-cell;vertical-align: middle;text-align: center;
}
.error > div{
    width: 276px;
    margin: auto;
}
.mainContain.externalPage .error > div a{
    background-color: #f36379;
    color: white;
    padding: 17px 20px;
    display: block;
    border-radius: 4px;
}