.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}


@media only screen and (max-width: 1050px) {
  header .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo label {
    font-size: 14px;
    margin-left: 5px;
  }
  .navigation li {
    float: left;
    padding-left: 15px;
  }
  /*---------------------------login--------------------------------*/
  .login .mobileCover {
    display: none;
  }
  .login .mobileContent {
    float: none;
    width: 100%
  }
  .login .wrapper {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  /*---------------------------Register--------------------------------*/
  .Register .mobileCover {
    display: none;
  }
  .Register .mobileContent {
    float: none;
    width: 100%
  }
  .Register .wrapper {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .downloadPath a {
    width: 150px;
    margin-top: 10px;
  }
  .eventTrigger a {
    font-size: 16px;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation .tapUserSearch li:first-child {
    display: block;
  }
  .navigation .social a {
    display: inline-block;
    margin-left: 2px;
    width: 33px;
    margin-top: 8px;
  }
  .containTxt h3 {
    padding-right: 45px;
  }
}

@media only screen and (max-width: 800px) {
  .navigation li.social {
    display: none;
  }

  header .contain>div.navigation {
    float: right;
    padding-top: 5px;
  }
  .downloadPath a {
    width: 180px;
  }
  .mainContain {
    height: auto;
  }
  .mobileCover:after {
    height: 82px;
  }
  .mobileCover,
  .mobileContent {
    float: none;
    width: 100%;
    text-align: center;
  }
  .mainContain .contain {
    padding: 85px 0px;
  }
  .textContent {
    padding-left: 0%;
  }
  .containTxt {
    text-align: center;
  }
  .containTxt h3 {
    padding: 0;
    padding-top: 30px;
    font-size: 20px;
  }
  .containTxt h4 {
    padding-top: 16px;
    font-size: 20px;
  }
  .eventTrigger a {
    font-size: 16px;
    width: 230px;
    display: block;
    margin: 20px auto;
  }

  .pageContent {
    padding-top: 30px;
  }
  .pageContent>div.shortContent,
  .pageContent>div {
    padding: 10px 0;
    float: none;
    width: 100%;
  }
  footer ul li.logoPos {
    display: none;
  }
  footer ul li {
    width: 33.333333333%;
  }
  .footerCopyright>div {
    float: none;
    width: 100%;
    text-align: center;
  }
  .footerCopyright>div.social_logo {
    text-align: center;
  }
  .social_logo label {
    display: none
  }
  /*--------------------------Login----------------------------*/
  .login .wrapper {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  /*--------------------------Register----------------------------*/
  .Register .wrapper {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 720px) {
  .trending .appSection {
    padding-top: 0;
  }
  .trending .userPanel {
    padding-top: 90px;
  }

  .navigation .loginLink a {
    margin-top: 8px;
  }
  .mainContain {
    padding-top: 70px;
  }
  .pageContent h3,
  .pageContent h4,
  .pageContent p {
    text-align: justify;
  }
  .join {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 22px;
    margin-bottom: 15px;
  }
  footer {
    padding-top: 40px;
  }
  footer ul li {
    width: 100%;
  }
  footer ul li {
    text-align: center;
  }
  .footerContain>ul>li {
    padding-bottom: 20px;
  }
  .social_footer a {
    display: inline-block;
  }

  .footerContain li h3::after {
    width: 58%;
    margin: auto;
    position: relative;
    display: block;
    padding-top: 9px;
  }
  .footerCopyright,
  .footerCopyright>div {
    padding-top: 0;
  }
}

@media only screen and (max-width: 1480px) {
  .userBrief {
    padding-left: 300px;
  }
}

@media only screen and (max-width: 1400px) {
  .userMenu li a.active::before {
    left: 0;
    transform: translateX(-105%);
  }
  .userPanel {
    width: 300px;
  }
  .userMenu {
    padding: 20px 20px;
  }
  .userPrf {
    padding: 27px 25px;
  }
  .appListSec {
    padding: 50px 50px 50px 350px;
  }
}



@media only screen and (max-width: 1200px) {
  .movies_details li {
    overflow-wrap: break-word;
  }
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .textContent {
    padding-left: 5%;
  }
  .containTxt h3 {
    font-size: 30px;
    padding-top: 13%;
    padding-left: 0%;
    padding-right: 83px;
  }
  .mobileCarousal {
    width: 200px;
    padding: 55px 20px 10px 13px;
  }
  .downloadPath a {
    width: 172px;
  }
  .pageContent>div.shortContent {
    padding-left: 40px;
  }
  .social_footer a {
    width: 140px;
  }
  footer ul li,
  footer ul li.logoPos {
    width: 25%;
  }
  .social_logo a {
    display: inline-block;
    width: 40px;
    margin: 2px;
    margin-top: 8px;
  }
  .mobileCover::after {
    height: 70px;
  }
  .trendingSingle .listSec .listContent h3 {
    padding: 0;
  }
}

@media (min-width:980px) and (max-width:1199px) {
  .userPanel {
    width: 320px;
    position: fixed;
    top: 0;
    transform: translate(-100%);
    transition: all 0.7s ease;
  }
  .userPanel.ng-hide {
    display: block !important;
    transform: translateX(0%);
  }
  .appListSec {
    padding: 50px;
  }
  .hamburger_menu {
    height: 50px;
    margin-right: 15px;
    padding-top: 23px;
    width: 35px;
    display: block;
  }
  .hamburger_menu a {
    background-image: url('../../assets/images/responsivemenu.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  header .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .appListSec {
    padding: 25px;
  }
  .tapUserSearch {
    display: inline-block;
    width: 300px;
  }
}

@media (min-width:768px) and (max-width:979px) {
  .dashboard .listSec .userControl {
    position: absolute;
  }
  .categoryLists select {
    width: auto;
  }
  .categoryLists select option {
    padding: 5px 10px;
  }
  .userPanel {
    width: 320px;
    top: 0;
    position: fixed;
    transform: translate(-100%);
    transition: all 0.7s ease;
  }
  .userPanel.ng-hide {
    display: block !important;
    transform: translateX(0%);
  }
  .appListSec {
    padding: 50px;
  }
  .trending .userControl {
    position: absolute;
  }
  .hamburger_menu {
    height: 50px;
    margin-right: 15px;
    padding-top: 23px;
    width: 35px;
    display: block;
  }
  .hamburger_menu a {
    background-image: url('../../assets/images/responsivemenu.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  header .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .appListSec {
    padding: 25px;
  }
  .tapUserSearch {
    display: inline-block;
    width: 220px;
  }
  .trendingSingle .listSec .listSecWrapper {
    display: table;
    height: 100%;
  }
  .trendingSingle .listSec .listContent h3 {
    font-size: 22px;
    padding: 15px 0;
  }
  .userControl {
    position: relative;
  }
  .trending .userControl {
    position: absolute;
  }
  .Sports .userControl {
    position: absolute;
  }
  .dashboard .TrendingDashboard .itemSubLists .listContent {
    padding: 80px 70px 35px;
  }
  .dashboard .TrendingDashboard .listContent {
    padding: 0;
  }
  .userBrief .basic_info .row{
    padding-left: 120px;
  }
  .userBrief .basic_info .row.last{
    padding-left: 0;
  }
  .userBrief .basic_info .row .label{
    position: absolute;left: 0;
    top:0;float:none;width: 120px;
  }
  .userBrief .row label:last-child{
    width: 100%;float: none;
  }
}

@media only screen and (max-width:767px) {
  header.ng-hide,header.ng-hide.active{
    display: block !important;
  }
  header.ng-hide.active .contain > div.navigation{
    display: none;
  }
  header.ng-hide.active .contain > div.navigation{
    display: block !important;
    position: absolute;
    left: 120px;
    top: 0;
    width: 67%;
    padding-top: 13px;
  }
  header.ng-hide.active .tapUserSearch .dropdown a.csearchIcon{
    display: none;
  }
  header .contain > div.navigation .tapUserSearch{
    width: 100%;display: none;
  }
  header.ng-hide.active .contain > div.navigation .tapUserSearch{
    width: 100%;display: block;
  }
  header.ng-hide.active .logo a{
    width: 55px;overflow: hidden;
  }
  header.ng-hide.active .logo img{
    width: 200px;
  }
   header.ng-hide.active .logo label{
    display: none;
   }
  header .contain > div.mobileMenu{
    display: block;
  }
  .userBrief .row label:last-child {
    width: 100%;
  }
  .dashboard .TrendingDashboard .itemSubLists .listContent {
    padding: 80px 70px 35px;
  }
  .dashboard .TrendingDashboard .listContent {
    padding: 0;
  }
  .trendingSingle .userControl {
    position: absolute;
  }
  .dashboard .listSec .userControl {
    position: absolute;
  }
  .tapUserSearch {
    display: inline-block;
    width: auto;
    margin-top: 10px;
  }
  .userPanel {
    width: 320px;
    top: 0;
    position: fixed;
    transform: translate(-100%);
    transition: all 0.7s ease;
  }
  .userPanel.ng-hide {
    display: block !important;
    transform: translateX(0%);
  }
  .appListSec {
    padding: 50px;
  }
  .hamburger_menu {
    display: block;
  }
  .logo label {
    margin-top: 25px;
  }
  header .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .appListSec {
    padding: 25px;
  }
  header img {
    padding-top: 10px;
  }
  .shareBtn {
    right: 0px;
  }
  .trendingSingle .itemSubLists .listContent {
    padding: 80px 25px 35px;
  }
  .trendingSingle .listSec .listSecWrapper {
    display: table;
    height: 100%;
  }
  .trendingSingle .listSec .listContent h3 {
    font-size: 18px;
    padding: 15px 0;
  }
  .userControl {
    position: relative;
  }
  .movies_list .listSecWrapper {
    display: table;
  }
  .movies_list .listSecWrapper .imgSec {
    height: 250px;
    width: 100%;
  }
  .categoryLists select {
    width: auto;
  }
  .categoryLists select option {
    padding: 5px 10px;
  }
  .Sports .userControl {
    position: absolute;
  }
  .Sports .rating_section>ul>li.tapUserCon {
    border-right: 1px solid #ccc;
  }
  .trending .userControl {
    position: absolute;
  }
}

@media only screen and (max-width:640px) {
  .usercover {
    padding: 25px;
  }
 header.ng-hide.active .contain > div.navigation {
    display: block !important;
    position: absolute;
    left: 110px;
    top: 0;
    width: 65%;
    padding-top: 6px;
  }
  header.ng-hide.active .logo a{
    width: 40px;
  }
  header.ng-hide.active .logo a img{
    display: inline-block;
    width: 145px;
  }
  header .contain > div.mobileMenu {
    margin-top: 13px;
  }
  .awardSingle .listContent h3 {
    padding: 5px 0;
  }
  .trending .userControl {
    position: relative;
}
  .userMenuList {
    position: relative;
    width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .userMenuList>ul {
    border-right: none;
  }
  .userMenuList>ul li {
    width: 250px;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    margin:auto;
    padding: 0;
    margin-bottom: 5px;
  }
  .userMenuList li.active::before{
    display: none;
  }
  .userBrief {
    padding-left: 0;
    padding-right: 0;
  }
  .interests {
    min-height: initial;
  }
  .interests>div {
    display: block;
  }
  .interests a {
    padding: 10px 0px;
    margin: 5px 2px;
    display: inline-block;
    width: 48%;
    text-align: center;
  }
  .userBrief .edit {
    margin-top: -20px;
    margin-right: 0;
  }
  .userMenuList>ul li.active {
    background-color: #f36379;
    border: 1px solid #f36379;
  }
  .userMenuList>ul li.active a {
    color: #fff;
  }
  .popup .ng-modal-dialog {
    width: 480px;
    padding: 25px;
  }
  .timeline .dropdownui {
    width: 40px;
    margin-top: 0;
  }
  .Timeline .listContent {
    padding: 15px;
  }
  .timeline .userDetail,
  .dashboard .userDetail {
    padding-left: 10px;
  }
  .dashboard .TimelineCon h3 {
    padding-left: 0;
  }
  .dashboard .TrendingDashboard .itemSubLists .listContent {
    padding: 65px 25px 25px;
  }
  .dateFormat p {
    padding-right: 5px;
    font-size: 14px;
  }
  .dateFormat p.expire {
    padding-left: 5px;
    font-size: 14px;
  }
  .dashboard .TrendingDashboard .listSec .listSecWrapper {
    height: 100%;
  }
  .dashboard .listSec .userControl {
    position: relative;
  }
  .dashboard .listSec .listContent h3 {
    padding: 15px 0;
    font-size: 25px;
  }
  .tabList li {
    margin-left: 8px;
    margin-right: 8px;
  }
  .trendingPage .listSecWrapper .imgSec {
    width: 100%;
  }
  .listSecWrapper {
    display: table;
  }
  .listContent h3 {
    padding: 25px 25px 25px;
  }
  .userControl {
    position: relative;
  }
  .trendingPage .listSecWrapper .imgSec {
    height: 150px;
  }
  .trendingSingle .listSec .listSecWrapper {
    display: table;
    height: 100%;
  }
  .trendingSingle .listSec .listContent h3 {
    font-size: 18px;
    padding: 15px 0;
  }
  .userControl {
    position: relative;
  }
  header {
    height: 75px;
  }
  .logo a {
    display: inline-block;
    width: 150px;
  }
  .logo label {
    margin-top: 18px;
    font-size: 11px;
  }
  .tapUserSearch input[type="image"],
  .tapUserSearch input[type="submit"] {
    width: 40px;
    height: 80%;
  }
  .tapUserSearch {
    margin-top: 8px;
  }
  .hamburger_menu {
    margin-top: 0;
    padding-top: 22px;
  }
  .hoverRating {
    top: 35px;
    width: 100%;
  }
  .hoverRating .rating a {
    padding-bottom: 0;
    padding-top: 0;
  }
  .rating_section li.tapUserCon {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: medium none;
    margin: 0px 0;
    padding-bottom: 10px;
  }
  .rating_section li {
    width: 50%;
    margin-top: 5px;
    height: auto;
  }
  .rateText>span {
    padding-top: 0;
  }
  .movies_list .listContent h3 {
    padding: 10px;
  }
  .rateText {
    padding: 0
  }
  .adjustlabel {
    display: block;
    padding: 0 12px 0 6px;
  }
  .director p {
    display: flex;
  }
  .categoryLists .countof {
    padding-top: 25px;
  }
  .categoryLists>div {
    padding: 10px;
    text-align: left;
  }
  .categoryLists select {
    width: 100%;
  }
  .pageLoad.Sports .imgSec {
    height: 250px;
    width: 100%;
  }
  .pageLoad.Sports .listContent>h4 {
    position: relative;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .Sports .userControl {
    position: relative;
  }
  .pageLoad.Sports .listContent>div {
    padding-bottom: 0;
    display: table;
  }
  .Sports .userControl {
    padding-top: 0;
    position: relative;
  }
  .Sports .rating_section {
    float: none;
    padding: 0;
  }
  .Sports .rating_section>ul>li.tapUserCon {
    border-right: 1px solid #ccc;
  }
  .Sports .rating_section>ul>li {
    border-bottom: 1px solid #ccc;
    height: 100px;
    margin-top: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
    width: 50%;
  }
  .Sports .rateText {
    padding-top: 5px;
  }
  .Sports .rateText a {
    padding-left: 0;
  }
  .Sports .hoverRating {
    top: 45px;
    left: -5px;
  }
  .hoverRating .ng-isolate-scope {
    overflow: visible;
    width: auto;
  }
}
@media only screen and (max-width:560px) {
  header.ng-hide.active .contain > div.navigation {
    left: 0;
    width: 117%;
    z-index: -1;
    top: 75px;
    background-color: #f8f4f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px;
  }
  header.ng-hide.active .logo a{
    width: 150px;
    overflow: visible;
  }
  header.ng-hide.active .logo label {
    display: block;
  }
  header.ng-hide.active .logo a img{
    width: 100%;
  }
  header.ng-hide.active .contain > div.navigation .tapUserSearch{
    margin-top: 0;
  }
}
@media only screen and (max-width:520px) {
  .popup .ng-modal-dialog {
    width: 400px;
    padding: 25px;
  }
  .timeline .userDetail,
  .dashboard .userDetail {
    padding-left: 10px;
  }
  .dateFormat p {
    padding-right: 5px;
  }
  .dateFormat p.expire {
    padding-left: 5px;
  }
  .logo label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 10px;
    left: 0;
    margin-left: 42px;
    margin-top: 40px;
    padding: 0;
    position: absolute;
    top: 0;
    width: auto;
  }
  .logo {
    position: relative;
    text-align: left;
    width: 50%;
  }
}

@media only screen and (max-width:480px) {
  .Awards .listContent a h3 {
    padding: 25px 50px;
    text-align: center;
  }
  h2.userName {
    text-align: left;
  }
  .enterPath h2 {
    padding: 10px;
  }
  .timeline .userDetail,
  .dashboard .userDetail {
    width: 80%;
  }
  .dateFormat {
    clear: both;
    display: table;
  }
  .dateFormat p {
    font-size: 14px;
    padding-right: 0;
    float: left;
    text-align: left;
    width: 100%;
    border: medium none;
  }
  .dateFormat p.expire {
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
  }
  .Timeline .userName {
    padding-bottom: 0;
  }
  .dashboard .userEvent a {
    text-align: center;
    width: 48%;
    margin-bottom: 5px;
  }
  .dashboard .userEvent a::before {
    left: initial;
  }
  .dashboard .disabledTag .userEvent a span {
    padding-left: 10px;
  }
  .dashboard .Timeline .userEvent a span {
    padding-left: 10px;
  }
  .tabList li {
    border-bottom: 2px solid #e1e1e1;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
  .tabList li.active {
    border-bottom: 2px solid #f36379;
  }
  .tabList li:hover {
    border-bottom: 2px solid #f36379;
  }

  .Sports .rating_section>ul>li.tapUserCon {
    border-right: medium none;
  }
  .Sports .rating_section>ul>li {
    width: 100%;
  }
  .tapUserSearch {
    width: 200px;
  }
  .trendingSingle .userEvent a::before {
    left: initial;
  }
  .trendingSingle .disabledTag .userEvent a span,
  .BallotBox .disabledTag .ballotContain>div>a span {
    padding-left: 10px;
  }
  .trendingSingle .disabledTag .userEvent a {
    text-align: center;
    width: 48%;
    margin-bottom: 5px;
  }
  .userResult label.resultLabel {
    width: 100%;
  }
  .userResult label.resultValue {
    width: 12%;
  }
  .userResult label.resultBar {
    width: 85%;
  }
  .shareBtn {
    display: table;
    float: right;
    margin-top: 32px;
    right: 0;
    position: relative;
  }
  .shareBtn a {
    text-align: right;
  }
  .userResult .headLabel label.totalUsers {
    float: right;
  }
  .userControl {
    text-align: right;
  }
  .postive::before {
    width: 25px;
    height: 25px;
  }
  .userControl a.postive span {
    left: 18px;
    padding: 0 5px;
    position: absolute;
    top: -15px;
  }
  .article::before {
    width: 25px;
    height: 25px;
    background-size: 20px auto;
  }
  .userControl a {
    margin-left: 10px;
    padding-left: 45px;
    position: relative;
    vertical-align: middle;
    font-size: 0;
  }
  .BallotBox .ballotContain>div {
    width: 100%;
    padding: 0;
  }
  .BallotBox .ballotContain {
    padding: 0;
  }
  .BallotBox .disabledTag .ballotContain>div>a {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
  }
  .BallotBox .ballotContain>div>a {
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .BallotBox .listContent {
    padding: 15px;
  }
  .BallotBox .dropdownui {
    width: 40px;
    margin-top: 10px;
  }
  .movies_details li:nth-child(2) {
    width: 100%;
    padding-top: 5px;
  }
  .movies_details li {
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
  }
  .movies_category {
    padding: 10px 0;
  }
  .movies_category li {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width:420px) {
  .popup .ng-modal-dialog {
    width: 350px;
    padding: 25px;
  }
  .popup .categorycon label {
    padding-bottom: 5px;
    padding-top: 0;
    width: 100%;
  }
  .popup select {
    width: 100%;
  }
  .trendingPage .listSecWrapper .imgSec {
    height: 200px;
  }
  .pageLoad .pagninate .countof {
    width: 100%;
  }
  .userControl a {
    margin-left: 25px;
    padding-left: 35px;
  }
  .article::before {
    width: 26px;
    height: 26px;
    background-size: 20px auto;
  }
  .postive::before {
    width: 26px;
    height: 26px;
    margin-top: -1px;
  }
  .dropdown ul {
    margin-right: 10px;
    width: 250px;
  }
  .dropLists label {
    padding: 10px 20px 10px 45px;
  }
  .timeline .userDetail,
  .dashboard .userDetail {
    width: 65%;
  }
  .profileInfo {
    height: auto;
  }
}

@media only screen and (max-width:380px) {
  .interests a {
    width: 100%;
  }
  .userMenuList>ul li {
    width: 100%;
  }
  .followDetails>div {
    padding: 15px;
  }
  .userPanel {
    width: 300px;
  }
  .popup .ng-modal-dialog {
    width: 300px;
    padding: 25px;
  }
  .userImg {
    height: 60px;
  }
  .dashboard .countList h4 {
    width: 40px;
    height: 40px;
    padding-top: 10px;
  }
  .categoryLists select {
    height: 35px;
  }
  .categoryLists .countof {
    padding-bottom: 10px;
    padding-top: 0;
  }
  .categoryLists>div>div {
    float: left;
    width: 100%;
  }
  .trendingSingle .disabledTag .userEvent a,
  .BallotBox .disabledTag .ballotContain>div>a,
  .dashboard .userEvent a {
    width: 100%;
  }
  .listContent h3 {
    font-size: 17px;
  }
  .hamburger_menu {
    margin-right: 8px;
    margin-top: 0;
    padding-top: 27px;
    width: 30px;
  }
  .logo {
    position: relative;
    text-align: left;
    width: 70%;
  }
  .tapUserSearch {
    margin-top: 13px;
  }
  .tapUserSearch input[type="image"],
  .tapUserSearch input[type="submit"] {
    height: 60%;
    width: 30px;
  }
  .nvd3.nv-wrap.nv-pieChart {
    -webkit-transform: translate(140, 10) !important;
    -moz-transform: translate(140, 10) !important;
  }
}
