<div class="mainContain externalPage 404page">
  <div class="wrapper">
    <div class='error'>
    		<div>
    			<img ng-src="{{$root.themeDir}}assets/images/404.png"/></a>
    			<a alt="home" ui-sref="home">Take me back</a>
    		</div>
    </div>
  </div>
</div>
<acme-footer></acme-footer>
