<div class="mainContain trending">
  <div class="wrapper">
   <div class="userPanel" ng-class="{'active':responsiveMenu}" ng-hide="responsiveMenu">
        <side-bar></side-bar>
    </div>
    <div class="appSection">
     <div ui-view></div>
     </div>
  </div>
</div>
<acme-footer></acme-footer>
