<div class="mainContain home">
  <div class="wrapper">
    <div class="contain">
      <div class="container">
        <div class="mobileCover">
          <div class="mobileCarousal">
            <ul>
              <li>
                <img ng-src="{{$root.themeDir}}assets/images/phone/phone1.jpg"/>
              </li>
            </ul>
          </div>
          <div class="downloadPath">
            <a href="{{main.android}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/googlestore.png"/>
            </a>
            <a href="{{main.ios}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/appstore.png"/>
            </a>
          </div>
        </div>
        <div class="mobileContent">
          <div class="textContent">
            <div class="containTxt">
              <h3>
                An online platform that enables you to voice your opinion on the issues that are current and relevant to the people of India!
              </h3>
              <h4>Lets make a difference!</h4>
            </div>
            <div class="eventTrigger">
              <a ui-sref="login" class="active">JOIN TAP NOW!</a>
              <a href="">SNEAK PEAK</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homeContent">
  <div class="wrapper">
    <div class="contain">
      <div class="pageContent clear">
        <div>
          <h3>TAP – Your opinion counts!</h3>
          <h4>Welcome to TAP, an online platform that enables you to voice your opinion on issues that are current and relevant to the people of India.</h4>
          <p>TAP, which is an acronym for ‘Take a Position’, throws open a range of topics every day and lets you take a position on them. You can also post your views on a topic and even raise issues, subject to TAP’s policies, that you believe require airing. </p>
          <p>TAP aims to serve as a platform for people from all walks of life and seeks to provide an opportunity to voice opinions and express views. Your opinion and those of people like you is the basis of ‘public opinion’ and is the foundation on which a vibrant democracy is built. </p>
          <p>Join TAP and let your voice be heard. It’s the first step in creating the change you seek.</p>
        </div>
        <div class="shortContent">
          <div>
            <h3>Do people in your circle agree with your views?</h3>
            <p>TAP helps you ﬁnd out the position taken by the people you know on various issues of common interest as well as trending topics.</p>
          </div>
          <div>
            <h3>Find out what others think of your views?</h3>
            <p>Post your views at TAP and ﬁnd out whether others agree or disagree with you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<acme-footer acmeFooter></acme-footer>
