<div class="mainContain externalPage">
  <div class="wrapper">
    <div class='privacyPolicy'>
    <h1>Privacy Policy</h1>
	<h3>TAP and <a href="www.taponline.in">www.taponline.in</a> are owned and operated by B. M. Patil.</h3>
	<p>TAP is a mobile application developed to make democracy stronger by providing a forum for people to come forward to express their opinion or take a stand on issues that affect the nation, its people, environment, relation with foreign countries, in various ways. The issues, on which registered users are asked to express their opinion, cover a wide gamut of areas such as politics, economy, environment, social issues, external affairs, crime, corruption, defense, etc.</p>
	<p>All views and opinions as well as stands taken on issues in the form of ‘agree’, ‘disagree’ and ‘not sure’ are published on TAP. Your name will be published and registered users of TAP do not have the option of remaining ‘anonymous’ while taking a stand on any issue.</p>
	<p>We, are committed to protect the privacy of our registered users. This policy applies to the users of TAP as well as our website www.taponline.in. Our privacy policy explains how we collect, store, use and disclose the personal information collected by you. Please read the privacy policy before signing up to access and use our services. Your registration with us means that you have agreed to the terms expressed in our privacy policy.</p>
	<h3>Collection of personal information and its use:</h3>
	<p>We collect your personal information with a view to provide you a personalized service as well as to make your access to our service secure and ensure that our services are accessed and used only by our registered users. We collect information such as your name, gender, date of birth, email, place of birth, address and place of residence. We also collect and store information on your visit frequency to our application or website, your positions on various issues on which debates are carried out at TAP as well as our website www.taponline.in. This information may be used by us develop profile specific and general reports.</p>
	<p>We will also collect information from the social sites through which you log in. You may adjust your privacy settings on the social network sites through which you log into our application or website. We may receive data about you from the social network sites through which you log into our website. However, we will not publish this data on any other third party websites/other websites without your consent.</p>
	<h3>Cookies</h3>
	<p>We use cookies to improve your navigation experience. This will be done by automatically collecting usage information when use our application or website. We may also collect and store your unique identification numbers associated with your mobile device or our application. We use this information to improve and enhance user experience.</p>
	<h3>Information sharing</h3>
	<p>Any information you post on TAP is available to the public. The application has been developed keeping the public interest in mind. This information may include your name, photo, positions or stand taken by you on various issues and comments and views expressed by you on various issues on which we debate on our application and website.</p>
	<h3>Third party links on our sites</h3>
	<p>If you find any third party link on our application and website, it does not mean that we endorse or promote them. We do not endorse or promote any third party links on our websites. We are not responsible for any deals our registered users enter into third party links found on our application or website.</p>
	<h3>Security</h3>
	<p>Please ensure that you use a strong password to secure your account. Write a mail to us immediately, if you notice any suspicious activity. While we do everything possible to ensure that the data you shared us with is secure, we cannot fully guarantee the security of the data you shared with us. If we discover that our security is breached and any information is compromised, we will take necessary steps to investigate into the matter and notify the individuals whose information has been compromised to take requisite steps as per the law.</p>
	<h3>Accessibility</h3>
	<p>TAP and www.taponline.in can be accessed by only persons above the age of 18 years. In case if we happen to discover that any individual below the age of 18 years has registered with us or is using our services, we terminate such an account immediately and stop all services to the user in question.</p>
	<h3>Modification and updates to this policy</h3>
	<p>This policy may be modified or updated from time to time. Continued use of our application and website by any registered user means that he or she has given their consent to the changes made in our privacy policy.</p>
	<h3>Contact us</h3>
	<p>In case if you any questions regarding our privacy policy, please email us at: <a href="mailto:tapindia2016@gmail.com">tapindia2016@gmail.com</a> This policy was written on 12th July 2017</p>
	<h4>For any further details please contact TAP admin team.</h4>
    </div>
  </div>
</div>
<acme-footer></acme-footer>
