<footer class="appFooter">
  <div class="wrapper" ng-hide='vm.hidefooterBar'>
    <div class="footerContain clear">
      <ul>
        <li class="logoPos">
          <a href=""><img ng-src="{{$root.themeDir}}assets/images/logo_footer.png"/></a>
        </li>
        <li>
          <h3>KNOW MORE</h3>
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li><a href="">
              About TAP
            </a></li>
            <li>
              <a href="">
                Contact Us
              </a>
            </li>
            <li>
              <a ui-sref="termsandconditions">
                Terms of Service
              </a>
            </li>
            <li><a ui-sref="privacypolicy">Privacy Policy </a></li>
          </ul>
        </li>
        <li>
          <h3>Explore</h3>
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li><a href="">
              About TAP
            </a></li>
            <li>
              <a href="">
                Contact Us
              </a>
            </li>
            <li>
              <a ui-sref="webtermsandconditions">
                Terms of Service
              </a>
            </li>
            <li><a ui-sref="webprivacypolicy">Privacy Policy </a></li>
          </ul>
        </li>
        <li>
          <h3>download</h3>
          <p><strong>TAP</strong> | Download the mobile app - Your voice change India. </p>
          <div class="social_footer">
            <a href="{{main.android}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/googlestore.png"/>
            </a>
            <a href="{{main.ios}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/appstore.png"/>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="footerCopyright clear">
      <div>
        <label>2016 © taponlineindia. All rights reserved.</label><a ui-sref="login" class="join">JOIN NOW</a>
      </div>
      <div class="social_logo">
        <div>
          <a href="">

              <img ng-src="{{$root.themeDir}}assets/images/twitter_footer.png"/>
            </a>
            <a href="">
              <img ng-src="{{$root.themeDir}}assets/images/facebook_footer.png"/>
            </a>
            <a href="">
              <img ng-src="{{$root.themeDir}}assets/images/instagra_footer.png"/>
            </a>
            <a href="">
              <img ng-src="{{$root.themeDir}}assets/images/in_footer.png"/>
            </a>
        </div>
        <label>@tapindiaonline</label>
      </div>
    </div>
  </div>
  <div class="wrapper loggedIn" ng-show='vm.hidefooterBar'>
    <div class="footerCopyright clear">
      <div>
        <label>2016 © taponlineindia. All rights reserved.</label>
      </div>

    </div>
  </div>
</footer>
