<!--<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>-->
<header ng-class="{'active':mobileSearch}" ng-hide="mobileSearch">
  <div class="wrapper">
    <div class="contain clear">
      <div class="hamburger_menu">
        <a ng-click="responsiveMenu = !responsiveMenu"></a>
      </div>
      <div class="logo">
        <a ui-sref="home" ng-hide="vm.hideNavBar"><img ng-src="{{$root.themeDir}}assets/images/logo.png"/></a>
        <a ui-sref="landing.dashboard" ng-show="vm.hideNavBar"><img ng-src="{{$root.themeDir}}assets/images/logo.png"/></a>
        <label>Your voice can change India</label>
      </div>
      <div class="navigation">
        <ul ng-hide="vm.hideNavBar">
          <li><label>We are social!</label></li>
          <li class="social">
            <a href="">

              <img ng-src="{{$root.themeDir}}assets/images/twitter.png"/>
            </a>
            <a href="">
              <img ng-src="{{$root.themeDir}}assets/images/facebook.png"/>
            </a>
            <a href="">
              <img ng-src="{{$root.themeDir}}assets/images/ecllipse.png"/>
            </a>
            <a href="">
              <img ng-src="{{$root.themeDir}}assets/images/instagra.png"/>
            </a>
          </li>
          <li class="loginLink">
            <a ui-sref="login">
              Sign in / Sign up
            </a>
          </li>
        </ul>
        <ul class="tapUserSearch" ng-show="vm.hideNavBar">
          <li>
            <div uib-dropdown>
            <form name="loginForm">
                <input type="search" name="tapuser" ng-model="vm.search" autocomplete="off"
                ng-model-options="{ debounce: 200 }" placeholder="Search Users" ng-change="vm.tapUserSearch();"/>
                <a href="" class="csearchIcon"></a>
                <div class="SearchList">
                  <ul class="dropdown-menu rel-results" uib-dropdown-menu is-open="vm.details.data.length" aria-labelledby="search-dropdown">
                    <li ng-repeat="searchlist in vm.details.data">
                      <a ui-sref="landing.viewuser({ userid: searchlist.uid[0].value })" id="{{ $index + 1 }}">
                        {{searchlist.field_full_name[0].value}}
                      </a>
                    </li>
                  </ul>
                </div>
            </form>
            </div>
          </li>
        </ul>
      </div>
      <div class="mobileMenu">
          <a href="" ng-click="mobileSearch = !mobileSearch"><i class="fa fa-search" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>
