<!doctype html>
<html ng-app="tapWeb">
  <head>
    <meta charset="utf-8">
    <title>TAP | {{$root.pageTitle}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="TAP" />
    <meta property="og:type" content="{{$root.bodyClass}}" />
    <meta property="og:url" content="{{$root.webUrl}}" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="TAP,Take a Position" />
        <!-- etc. -->
    <meta content="" name="Tab"/>
     <base href="/">

    <!-- Tap Config service -->
    <script type="application/javascript" src="http://config.taponline.in/web/dev"></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="../bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../bower_components/angular-moment-picker/dist/angular-moment-picker.min.css" />
    <link rel="stylesheet" href="../bower_components/ngprogress/ngProgress.css" />
    <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app/index.css">
    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="stylesheet" href="app/styles/responsive.css">
    <link rel="stylesheet" href="app/components/footer/footer.css">
    <link rel="stylesheet" href="app/components/navbar/navbar.css">
    <!-- endinject -->
    <!-- endbuild -->
     <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <!-- [if lt IE 9]>
    <script src="js/mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body class="page-{{$root.bodyClass}}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <acme-navbar></acme-navbar>
    <div class="mainView" ui-view></div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.js"></script>
    <script src="../bower_components/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
    <script src="../bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>
    <script src="../bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="../bower_components/webcamjs/webcam.js"></script>
    <script src="../bower_components/ng-camera/dist/ng-camera.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/nvd3/build/nv.d3.js"></script>
    <script src="../bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <script src="app/index.module.js"></script>
    <script src="app/services/user/users.services.js"></script>
    <script src="app/services/timeline/timeline.services.js"></script>
    <script src="app/services/pages/page.services.js"></script>
    <script src="app/services/dashboad/dashboard.services.js"></script>
    <script src="app/services/Csrf/Csrf.service.js"></script>
    <script src="app/routes/users/users.route.js"></script>
    <script src="app/routes/users/users.follow.route.js"></script>
    <script src="app/routes/timeline/timeline.route.js"></script>
    <script src="app/routes/pages/pages.route.js"></script>
    <script src="app/routes/dashboard/dashboard.route.js"></script>
    <script src="app/directives/users/users.directives.js"></script>
    <script src="app/directives/pages/page.directive.js"></script>
    <script src="app/directives/main/main.directives.js"></script>
    <script src="app/controllers/users/users.logout.controller.js"></script>
    <script src="app/controllers/users/users.following.controller.js"></script>
    <script src="app/controllers/users/users.followers.controller.js"></script>
    <script src="app/controllers/users/users.follow.controller.js"></script>
    <script src="app/controllers/users/users.controller.js"></script>
    <script src="app/controllers/timeline/timeline.share.controller.js"></script>
    <script src="app/controllers/timeline/timeline.mypost.controller.js"></script>
    <script src="app/controllers/timeline/timeline.controller.js"></script>
    <script src="app/controllers/timeline/timeline.all.controller.js"></script>
    <script src="app/controllers/pages/trending.share.controller.js"></script>
    <script src="app/controllers/pages/trending.detail.controller.js"></script>
    <script src="app/controllers/pages/trending.controller.js"></script>
    <script src="app/controllers/pages/sports.controller.js"></script>
    <script src="app/controllers/pages/page.controller.js"></script>
    <script src="app/controllers/pages/movies.controller.js"></script>
    <script src="app/controllers/pages/ballotbox.controller.js"></script>
    <script src="app/controllers/pages/ballot.share.controller.js"></script>
    <script src="app/controllers/pages/awards.detail.controller.js"></script>
    <script src="app/controllers/pages/awards.controller.js"></script>
    <script src="app/controllers/main/main.controller.js"></script>
    <script src="app/controllers/dashboard/dashboard.trending.controller.js"></script>
    <script src="app/controllers/dashboard/dashboard.timeline.controller.js"></script>
    <script src="app/controllers/dashboard/dashboard.controller.js"></script>
    <script src="app/controllers/dashboard/dashboard.ballotbox.controller.js"></script>
    <script src="app/components/sidebar/sidebar.directive.js"></script>
    <script src="app/components/reports/report.directive.js"></script>
    <script src="app/components/rating/rating.directives.js"></script>
    <script src="app/components/navbar/navbar.directive.js"></script>
    <script src="app/components/footer/footer.directive.js"></script>
    <script src="app/index.run.js"></script>
    <script src="app/index.route.js"></script>
    <script src="app/index.constants.js"></script>
    <script src="app/index.config.js"></script>
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>

</html>
