<style>
acme-navbar{
      display: none !important;
}
.mainContain .terms{
      padding: 20px 60px;
}
.mainContain .wrapper{
      padding: 0;
}
</style>
<div class="mainContain externalPage">
  <div class="wrapper">
    <div class='terms'>
      <h3>Terms and conditions of Service</h3>
      <p>These Terms of Service are effective from July 28, 2016.</p>
      <p>TAP is a mobile application and <a href="http://www.taponline.in">www.taponline.in</a> is a web portal developed by TAP and its affiliates to encourage and facilitate people to take a stand and voice their opinion on current affairs and burning issues covering a wide range of areas such as politics, domestic affairs, international affairs, environment, crime and a host of issues. The website, mobile application, and services offered by TAP mobile application and <a href="http://www.taponline.in">www.taponline.in</a> web portal and other related websites and online social media websites and web pages are developed and owned by B. M. Patil Business Ventures Pvt. Ltd. (or “TAP’ or www.taponline.in or “We”)</p>
      <p>The user will agree to the terms of service of TAP in regard to collection, use and disclosure of personal information under the privacy policy of TAP or <a href="http://www.taponline.in">www.taponline.in</a> available at <a href="http://www.taponline.in/privacy">www.taponline.in/privacy</a>. If you do not agree to the terms specified under the privacy policy, you will not have permission to use TAP and <a href="http://www.taponline.in">www.taponline.in</a> and other websites and web pages developed and owned by B. M. Patil Business Ventrues Pvt. Ltd. Only the owners of TAP and <a href="http://www.taponline.in">www.taponline.in</a> will have the sole discretion to modify these terms and conditions.</p>
      <h3>1. Registration</h3>
      <p>You will have to register with TAP to use our services. You can do this by signing up with TAP or www.taponline.in. At the time of registration, you will have to use your real identity. In case, it is found that you either you have not used your real identity or you have impersonated someone, we reserve the right to terminate your account and deny access to you to use any of the services of TAP or <a href="http://www.taponline.in">www.taponline.in</a>.</p>
      <p>Only those who are above 18 (eighteen) years of age are given access to use the services of TAP and www.taponline.in. Users are required to declare their age at the time of registering with TAP. If we find out that you are less than 18 years of age, your account will be removed from our database.</p>
      <p>At TAP or www.taponline.in, only individual accounts can be opened. By registering with us, you give us permission to use your profile information and store your log-in credentials. The profile information provided by you and stored by us will be used only for giving you access to use the application and generating reports related to the service of TAP or www.taponline.in.</p>
      <p>We request you to use a strong password to protect your account. Use a combination of upper and lower case letters, numbers and symbols to ensure that your account is strongly protected. TAP or <a href="http://www.taponline.in">www.taponline.in</a> will not be responsible or liable for any damage or losses caused due to unauthorized use of your account.</p>
      <p>You can change your profile settings any time. When you provide your email address to us, you agree to receive alerts, notices and warning in lieu of communication by postal mail. We may also your email id to send you other messages, updates, offers and information on changes made to the site.</p>
      <h3>2. Ownership of content and terms of use</h3>
      <p>All information, text, data, photos, images, graphics, links, logos, audio, videos and other content or materials uploaded, submitted, posted, displayed or otherwise distributed on or through TAP and <a href="http://www.taponline.in">www.taponline.in</a> are owned by you. You can distribute or post them on TAP or <a href="http://www.taponline.in">www.taponline.in</a> in accordance with the terms and conditions of TAP or <a href="http://www.taplonine.in">www.taplonine.in</a>. Similarly, all information, text, data, photos, images, graphics, links, logos, audio, videos and other content or materials uploaded, submitted, posted, displayed or otherwise distributed by us are owned by us. Like we are responsible for the content distributed by us, you are responsible for the content distributed by you. We advise you to take care that any content uploaded or distributed you on TAP or <a href="http://www.taplonline.in">www.taplonline.in</a> does not violate any copyright law, publicity/privacy right or any other intellectual property or proprietary right of any third party.</p>
      <p>We ask you not to make use of any image, graphics, photograph, audio file, video file, logos, test, data and photos, without a written permission from TAP or www.taponline.in. We also ask you not to reproduce, modify, copy, frame, reproduce, display, transmit, distribute, publish, sell or otherwise exploit the content of TAP or <a href="http://www.taponline.in">www.taponline.in</a> for commercial or any other purpose without our written permission. All our logos, trademarks, look and feel of the application and the website, service marks and content are the proprietary property of TAP and <a href="http://www.taplonline.in">www.taplonline.in</a> and their licensors.</p>
      <p>You may remove the content posted by you. Such an act may require you to send an instruction to do so. We would like to make it clear that that you agree that we have no responsibility for the storage, display or deletion or other use of any materials posted by you through our application and website.</p>
      <h3>3. Do not attempt unauthorized access</h3>
      <p>We forbid you from accessing, modifying, copying, reversing and tampering the source code of the TAP and <a href="http://www.taponline.in">www.taponline.in</a>. You agree to these terms. You also agree not to indulge in activity that may hamper the functioning of the website or the applications of TAP, <a href="http://www.taponline.in">www.taponline.in</a> and their licensors, their network, hardware, servers and other equipment. As a user of TAP and <a href="http://www.taponline.in">www.taponline.in</a>, you also agree not to use any automated means to interfere or interrupt the functioning of the applications and the website and download any data.</p>
      <h3>4. Mobile Software</h3>
      <p>TAP is provided on mobile platforms. TAP will not certify or warrant that its applications are compatible with any mobile device. As a user, you may incur mobile data charges from wireless service providers for using our applications/software and TAP does not take any responsibility whatsoever for any such charges. You agree that, for any such charges, you are solely responsible. We provide you one TAP account, which is non-exclusive, non-transferable and revocable licence to use our software/application on your mobile device for your individual use. You are not allowed to copy the software, interfere with security related features of the application and remove any copyright and proprietary related notices and information on the software. The mobile software is developed in India and as such is governed by the prevailing law in the country. You agree to comply with all laws of the land and other foreign and international laws in regard to the use of TAP.</p>
      <h3>5. Inclusion of terms as stipulated by Apple.</h3>
      <p>The following applies to any Mobile Software you acquire from the iTunes Store ("iTunes-Sourced Software"): You acknowledge and agree that this Agreement is solely between you and TAP and its licensor, not Apple, and that Apple has no responsibility for the iTunes-Sourced Software or content thereof. Your use of the iTunes-Sourced Software must comply with the App Store Terms of Service. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the iTunes-Sourced Software. In the event of any failure of the iTunes-Sourced Software to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the iTunes-Sourced Software to you; to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the iTunes-Sourced Software, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be solely governed by this Agreement and any law applicable to TAP as provider of the software. You acknowledge that Apple is not responsible for addressing any claims of you or any third party relating to the iTunes-Sourced Software or your possession and/or use of the iTunes-Sourced Software, including, but not limited to: (i) product liability claims; (ii) any claim that the iTunes-Sourced Software fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation; and all such claims are governed solely by this Agreement and any law applicable to TAP as provider of the software. You acknowledge that, in the event of any third-party claim that the iTunes-Sourced Software or your possession and use of that iTunes-Sourced Software infringes that third party's intellectual property rights, TAP and its owner, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by this Agreement. You and TAP acknowledge and agree that Apple, and Apple's subsidiaries, are third-party beneficiaries of this Agreement as relates to your license of the iTunes-Sourced Software, and that, upon your acceptance of the terms and conditions of this Agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce this Agreement as relates to your license of the iTunes-Sourced Software against you as a third-party beneficiary thereof.</p>
      <h3>6. Inclusion of terms as stipulated by Google.</h3>
      <p>The following applies to any Mobile Software you acquire from the Google Play Store ("Google-Sourced Software"): (i) you acknowledge that the Agreement is between you and TAP only, and not with Google, Inc. ("Google"); (ii) your use of Google-Sourced Software must comply with Google's then-current Google Play Store Terms of Service; (iii) Google is only a provider of the Google Play Store where you obtained the Google-Sourced Software; (iv) TAP and its owner, and not Google, are solely responsible for its Google-Sourced Software; (v) Google has no obligation or liability to you with respect to Google-Sourced Software or the Agreement; and (vi) you acknowledge and agree that Google is a third-party beneficiary to the Agreement as it relates to TAP’s Google-Sourced Software.</p>
      <h3>7. No Representations, Warranties, or Endorsements</h3>
      <p>TAP and <a href="http://www.taponline.in">www.taponline.in</a> source their content from a variety of sources. We do not endorse or represent any of the content posted by us. Also, we are not responsible for the accuracy of the posted content. TAP and <a href="http://www.taponline.in">www.taponline.in</a> are also not responsible for any transactions, interactions or dealings you have with any third party whom you may get know through TAP or <a href="http://www.taponline.in">www.taponline.in</a> or through the emails sent by TAP or <a href="http://www.taponline.in">www.taponline.in</a>. TAP and <a href="http://www.taponline.in">www.taponline.in</a> also do not endorse any organization or individuals on their forums.</p>
      <h3>8. Ownership of intellectual property rights</h3>
      <p>As a user, when you are posting and uploading any content on TAP or <a href="http://www.taponline.in">www.taponline.in</a>, make sure that you have the requisite rights and permission in respect to the content.</p>
      <p>At TAP and <a href="http://www.taponline.in">www.taponline.in</a>, we reserve the right to block, disable and remove any content posted on our sites if found that you as a user have infringed any copyright or intellectual property rights. The intellectual property rights, including but not limited to patent, copyright, trademark, service mark, trade name and propriety information technology associated with content or TAP and <a href="http://www.taponline.in">www.taponline.in</a> themselves are owned and licensed by TAP and <a href="http://www.taponline.in">www.taponline.in</a>. We do not assign any intellectual property rights to the users. You agree that you would not infringe or challenge any of the intellectual property rights associated with any content posted on TAP and <a href="http://www.taponline.in">www.taponline.in</a>. In case you believe that, any content or materials posted on TAP or <a href="http://www.taponline.in">www.taponline.in</a> violate or infringe your copyrights or any intellectual property rights you may write a mail to copyright@taponline.in.</p>
      <h3>9. Indemnity</h3>
      <p>If any legal action is initiated by any person against TAP or <a href="http://www.taponline.in">www.taponline.in</a> because of your postings and comments on TAP or <a href="http://www.taponline.in">www.taponline.in</a>, you will be fully responsible for the cost or damages. You agree to indemnify, defend and hold TAP and <a href="http://www.taponline.in">www.taponline.in</a> and its management and staff from any claim, action, or demand and associated costs and expenses arising out of your (or anyone using your password) violation of the third party’s intellectual property, privacy or other rights.</p>
      <h3>10. Disclaimer of Warranties</h3>
      <p>Except in expressly provided otherwise in the terms, all content and materials on TAP and <a href="http://www.taponline.in">www.taponline.in</a> are provided to you ‘As is’ and ‘As Available’ form without warranty of any kind. We do not guarantee or warrant the accuracy, legality, appropriateness, truthfulness, or other qualities of any content or materials. TAP and <a href="http://www.taponline.in">www.taponline.in</a> disclaim to the maximum extent permitted by law. All warranties either express or implied, including but not limited to, implied warranties of merchantability, fitness for a particular purpose and non infringement; and other warranties including but not limited to uninterrupted use; availability of the website or application; lack of viruses, worms, Trojan horses or code that manifests contaminating or destructive properties; accuracy, completeness, reliability, timeliness, currency, or usefulness of any information provided on or through TAP and <a href="http://www.taponline.in">www.taponline.in</a>; and any duties of reasonable care, workmanlike effort or lack of negligence in connection with TAP or <a href="http://www.taponline.in">www.taponline.in</a>. TAP or <a href="http://www.taponline.in">www.taponline.in</a> are not engaged in the provision of legal, tax or other professional advice or services and you agree that TAP and <a href="http://www.taponline.in">www.taponline.in</a> do not provide any legal, tax, or other professional advice. If you are in need of such services, you should contact the appropriate licensed and qualified professional. TAP and <a href="http://www.taponline.in">www.taponline.in</a> are not involved with the processing, exchange, donations of money as may be arranged by third parties on TAP and <a href="http://www.taponline.in">www.taponline.in</a>; therefore, TAP and <a href="http://www.taponline.in">www.taponline.in</a> are not responsible for any transactions associated with donations solicited, promised or otherwise at TAP and <a href="http://www.taponline.in">www.taponline.in</a>.</p>
      <h3>11. Limitation of Liability</h3>
      <p>You are using TAP and <a href="http://www.taponline.in">www.taponline.in</a> at your own risk and you will not hold us responsible for any direct or indirect damages. You agree that to the maximum extent allowed by law, neither TAP nor <a href="http://www.taponline.in">www.taponline.in</a> will be liable to you and/or any third party for any direct, indirect, consequential, exemplary, special, punitive, or incidental damages (including but not limited to lost profits, loss of privacy, loss of data, deletion or failure to store email messages, damage to user computer systems) whatsoever that arise out of or are related to: TAP and <a href="http://www.taponline.in">www.taponline.in</a> (and your use of, or inability to use, TAP or <a href="http://www.taponline.in">www.taponline.in</a>); the modification, alteration, or termination of TAP or <a href="http://www.taponline.in">www.taponline.in</a> or your access to it; or any breach of these terms, even if TAP and <a href="http://www.taponline.in">www.taponline.in</a> have been advised of the possibility of such damages and even in the event of fault, tort, or strict or product liability. Any claims arising from TAP and/or <a href="http://www.taponline.in">www.taponline.in</a> within one (1) year of the date on which liability arose. Neither TAP nor <a href="http://www.taponline.in">www.taponline.in</a> or any affiliates are responsible for any violation of the privacy or other rights of any third party due to posting of violated information, which is the sole responsibility of the user posting such information.</p>
      <h3>12. Third Party Websites and External Links</h3>
      <p>You may find third party links on TAP and <a href="http://www.taponline.in">www.taponline.in</a> given by users of TAP and <a href="http://www.taponline.in">www.taponline.in</a>. We are not responsible for contents provided on third party websites. You interact with these websites at your own risk. TAP and <a href="http://www.tapline.in">www.tapline.in</a> may provide some links for convenience or any other purpose and this act of TAP and <a href="http://www.taponline.in">www.taponline.in</a> does not imply that we endorse, represent, warrant or accept any responsibility for the content on their sites. You are solely responsible for any dealings made by you with the third party websites you find on TAP or <a href="http://www.taponline.in">www.taponline.in</a>. You agree that we are not responsible for any loss or damage of any sort relating to your dealings with such third parties.</p>
      <h3>13. Modifications</h3>
      <p>At TAP and <a href="http://www.taponline.in">www.taponline.in</a>, we may amend the terms of the user agreement and privacy policy from time to time. All written agreements we enter with you, constitute entire agreement between you and TAP and <a href="http://www.taponline.in">www.taponline.in</a> In case, if we find any of these terms are unlawful, void, or for any reason unenforceable, we will sever from these terms and the validity and enforceability of any remaining provisions will not be affected.</p>
      <h3>14. Termination</h3>
      <p>TAP and www.taponline.in reserve the right, at their sole discretion, to immediately, with or without notice, suspend or terminate your registration, the Terms, and your access to all or a portion of TAP and <a href="http://www.taponline.in">www.taponline.in</a> and remove any registration information or materials from TAP and www.taponline.in for any reason (including if you breach of any of the provisions of the Terms). Upon termination or expiration of the Terms, your obligations and the rights and disclaimers of TAP and <a href="http://www.taponline.in">www.taponline.in</a> survive, but your right to use TAP and <a href="http://www.taponine.in">www.taponine.in</a> immediately ceases. The failure of TAP and www.taponline.in to act with respect to a breach by you or others does not waive the right of TAP and <a href="http://www.taponline.in">www.taponline.in</a> to act with respect to subsequent or similar breaches.</p>
    </div>
  </div>
</div>
