<div class="appListSec">
  <div class="timelineLoad timeline dashboard">
    <div class="itemlists">
      <div class="timelinepost">
        <div class="profileInfo" ng-controller="UserController" ng-init="users.getuserDetails();">
          <div class="profile_left clear">
            <div class="userImg">
              <img ng-src={{users.prfPic}} />
            </div>
            <div class="userDetail">
              <div class="">
                <h2 class="userName">{{users.fullName}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="userEnter">
          <a ng-click="timeline.toggleModal()">
            <div class="enterPath">
              <h2>What’s on your mind?</h2>
            </div>
            <p>Your position/view on a issue/topic (that others can agree or disagree with)</p>
          </a>
        </div>
        <div class="popup" ng-show="timeline.modalShown" ng-animate="{show:'animate-show', hide:'animate-hide'}">
          <div class="ng-modal">
            <div>
              <div class="ng-modal-overlay" ng-click="timeline.hideModal()"></div>
              <modal-dialog>
                <form ng-submit="timeline.postTime(postType,categoryType,questionname)">
                  <div class="categorycon">
                    <label>Select Category</label>
                    <select ng-model="categoryType"
                    ng-options="timecategory.tid as timecategory.name for timecategory in timeline.gettimeCategory" multiple="" ng-required="true">
                      <option value="" selected="">Select Category</option>
                    </select>
                  </div>
                  <div class="categorycon">
                    <label>Post Type</label>
                    <select ng-model="postType" ng-required="">
                      <option value="" selected="">Select Type</option>
                      <option value="true">Public</option>
                      <option value="false">Private</option>
                    </select>
                  </div>
                  <textarea ng-model="questionname" ng-required="true"></textarea>
                  <div class="formbutton">
                    <button class="ng-modal-submit">Submit</button>
                    <button class="ng-modal-close" ng-click="timeline.hideModal()">Close</button>
                  </div>
                </form>
              </modal-dialog>
            </div>
          </div>
        </div>
      </div>
      <div class="tabView">
        <div class="tabList">
          <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active">
              <a ui-sref="landing.timeline.all">ALL</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="landing.timeline.myposts">MY POSTS</a>
            </li>
          </ul>
        </div>
        <div class="tabContent jumbotron ui-view">
        </div>
      </div>
    </div>
  </div>
</div>
