<style type="text/css">
    .userResult label.resultBar{
        width: 70%;
    }
    .userResult > div > div{
        padding-left: 100px;
        padding-right: 100px;
    }
    .userResult{
        padding: 70px;
    }
    .listSecWrapper{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .listSecWrapper:after{
       content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-color: #fff6;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .contentWrapper{
        z-index: 99;
    }
    .listContent h3{
        text-align: center;
    }
    .shareDetails{
        background-color: #ededed;
    }
    .userResult label.resultBar{
        background-color: #908f8f;
    }
    acme-navbar{
        display: none !important;
    }
</style>
 <div class="pageLoad sharePage ballotShare">
            <div class="header">
                <div class="contentWrapper">
                <div>
                    <div class="logo">
                        <a>
                            <img ng-src="{{$root.themeDir}}assets/images/logo.png"/>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="listSecWrapper" style="background-image: url({{sharetimeline.attributes.images.large}})">
                   <div class="contentWrapper">
                        <div class="listContent">
                        <h3>
                                  {{sharetimeline.timelineShare.attributes.field_polls[0].question}}
                                </h3>
                        </div>
                   </div>
            </div>
            <div class="shareDetails">
                 <div class="contentWrapper">

                        <div class="userResult">
                            <div>
                                <div class="headLabel">
                                    <label>Results</label>
                                    <label class="totalUsers">
                                        {{sharetimeline.timeSum}}
                                        Users
                                    </label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{sharetimeline.timelineShare.attributes.field_polls[0].choices[0].value}}</label>
                                    <label class="resultBar">
                                    <span class="agree" style="width:{{((sharetimeline.timelineShare.attributes.field_polls[0].votes[0].value/sharetimeline.timeSum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((sharetimeline.timelineShare.attributes.field_polls[0].votes[0].value/sharetimeline.timeSum) * 100).toFixed(1)}}%</label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{sharetimeline.timelineShare.attributes.field_polls[0].choices[1].value}}</label>
                                    <label class="resultBar">
                                    <span class="disagree" style="width:{{((sharetimeline.timelineShare.attributes.field_polls[0].votes[1].value/sharetimeline.timeSum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((sharetimeline.timelineShare.attributes.field_polls[0].votes[1].value/sharetimeline.timeSum) * 100).toFixed(1)}}%</label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{sharetimeline.timelineShare.attributes.field_polls[0].choices[2].value}}</label>
                                    <label class="resultBar">
                                    <span class="notsure" style="width:{{((sharetimeline.timelineShare.attributes.field_polls[0].votes[2].value/sharetimeline.timeSum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((sharetimeline.timelineShare.attributes.field_polls[0].votes[2].value/sharetimeline.timeSum) * 100).toFixed(1)}}%</label>
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
    </div>


