<div>
  <div class="itemSubLists animation" ng-repeat="timeMypost in timelinemyPost.listData">
    <div class="ListView Timeline">
      <div class="listSecWrapper">
        <div class="listData">
          <div class="listContent" ng-class="{'disabledTag':timeMypost.voted}">
            <div class="dropdown">
              <a class="dropdownui"></a>
              <ul class="dropLists">
                <li><a href="" ng-click="timelinemyPost.deletePost(timeMypost)">Delete Post</a></li>
              </ul>
            </div>
            <div class="profileInfo">
              <div class="profile_left">
                <div class="userImg">
                  <img ng-src={{timeMypost.attributes.author.images.medium}} />
                </div>
                <div class="userDetail">
                  <div>
                    <h2 class="userName">{{timeMypost.attributes.author.full_name}}</h2>
                    <div class="dateFormat">
                      <p>{{timeMypost.attributes.created * 1000 | date:'dd MMMM yyyy'}}</p>
                      <p class="expire">Expired on {{timeMypost.attributes.field_expiration * 1000 | date:'dd MMMM yyyy' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="TimelineCon">
              <h3>{{timeMypost.attributes.field_polls[0].question}}</h3>
              <div class="userEvent">
                <a class="agreeButton {{getchoice.value}}" ng-class="{'active': getchoice.id == timeMypost.attributes.field_polls[0].user_vote_value.chid}" href="" ng-repeat="getchoice in timeMypost.attributes.field_polls[0].choices" ng-click="timelinemyPost.selectEvent(timeMypost.attributes.field_polls[0].id,getchoice.id)">
                                {{getchoice.value}}
                            </a>
              </div>
              <div class="userResult" ng-if="timeMypost.voted">
                <div>
                  <div class="headLabel">
                    <label>Results</label>
                    <label class="totalUsers">
                      {{timeMypost.sum}} Users
                    </label>
                  </div>
                  <div>
                    <label class="resultLabel">{{timeMypost.attributes.field_polls[0].choices[0].value}}</label>
                    <label class="resultBar">
                      <span class="agree" style="width:{{((timeMypost.attributes.field_polls[0].votes[0].value/timeMypost.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((timeMypost.attributes.field_polls[0].votes[0].value/timeMypost.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{timeMypost.attributes.field_polls[0].choices[1].value}}</label>
                    <label class="resultBar">
                      <span class="disagree" style="width:{{((timeMypost.attributes.field_polls[0].votes[1].value/timeMypost.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((timeMypost.attributes.field_polls[0].votes[1].value/timeMypost.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{timeMypost.attributes.field_polls[0].choices[2].value}}</label>
                    <label class="resultBar">
                      <span class="notsure" style="width:{{((timeMypost.attributes.field_polls[0].votes[2].value/timeMypost.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((timeMypost.attributes.field_polls[0].votes[2].value/timeMypost.sum) * 100).toFixed(1)}}%</label>
                  </div>
                </div>
                <div class="comment_section clear">
                  <div class="commentCount">
                    <span>{{timeMypost.Count}} Comments</span>
                  </div>
                  <div class="commentRight">
                    <label class="commentLabel">
                      comment
                      <input type="checkbox" ng-model="comment" ng-click="timelinemyPost.ClickComments(timeMypost);" />
                    </label>
                    <label class="shareLabel" ng-show="{{timeMypost.attributes.field_polls[0].user_voted}}">
                      <a href="{{timeMypost.shareurl}}" target="_blank">Share</a>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Commentshow" ng-show="timeMypost.view">
          <div class="commenrWrapper">
            <div class="comment_post">
              <div class="userImg">
                <img ng-src={{timeMypost.attributes.author.images.medium}} />
              </div>
              <div class="commentPostright">
                <h2 class="userName">{{timeMypost.attributes.author.full_name}}</h2>
                <form>
                  <textarea ng-model="commentname" placeholder="Write a comment"></textarea>
                  <button ng-click="timelinemyPost.PostComments(timeMypost,commentname)" type="submit">Submit</button>
                </form>
              </div>
            </div>
            <div class="viewComment">
              <p>Comments (<span>{{timeMypost.Count}}</span>)</p>
              <div class="viewuser_comment" ng-repeat="usercomments in timeMypost.commentData">
                <div class="userImg">
                  <img ng-src={{usercomments.author.images.medium}} />
                </div>
                <div class="commentPostright">
                  <div class="userName">
                    <div class="nameTittle">
                      <h3>{{usercomments.author.full_name}}</h3>
                      <p>{{usercomments.created * 1000 | date:'dd MMMM yyyy'}}</p>
                    </div>
                    <p>{{usercomments.body}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagninateDown">
        <div class="clear">
          <div class="prev" ng-show="timelinemyPost.getPrev">
            <a ui-sref="landing.timeline.myposts({ pageOffset: timelinemyPost.prevPage })"></a>
          </div>
          <div class="next" ng-show="timelinemyPost.getNext">
            <a ui-sref="landing.timeline.myposts({ pageOffset: timelinemyPost.nextPage })"></a>
          </div>
        </div>
      </div>
      <div class="emptypage" ng-hide="timelinemyPost.dataLength > 0">
        <div class="empty_img">
          <div class="img"></div>
          <div>
            <h3>Oops</h3>
            <h5>No Timeline My Post Found !</h5>
          </div>
        </div>
      </div>
</div>
