<div class="allTimeline">
  <div class="itemSubLists" ng-repeat="allTimeline in timelineAll.listData">
    <div class="ListView Timeline">
      <div class="listSecWrapper">
        <div class="listData">
          <div class="listContent" ng-class="{'disabledTag':allTimeline.voted}">
            <report data="timelineAll.report" dataid="{{allTimeline.attributes.uuid}}" datatype="{{allTimeline.type}}"></report>
            <div class="profileInfo">
              <div class="profile_left">
                <div class="userImg">
                  <img ng-src={{allTimeline.attributes.author.images.medium}} />
                </div>
                <div class="userDetail">
                  <div>
                    <h2 class="userName">
                    <a href="" ui-sref="landing.viewuser({ userid: allTimeline.attributes.author.uid })" id="{{ $index + 1 }}">{{allTimeline.attributes.author.full_name}}</a></h2>
                    <div class="dateFormat">
                      <p>{{allTimeline.attributes.created * 1000 | date:'dd MMMM yyyy'}}</p>
                      <p class="expire">Expired on {{allTimeline.attributes.field_expiration * 1000 | date:'dd MMMM yyyy' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="TimelineCon">
              <h3>{{allTimeline.attributes.field_polls[0].question}}</h3>
              <div class="userEvent">
                <a class="agreeButton {{getchoice.value}}" ng-class="{'active': getchoice.id == allTimeline.chid}" href="" ng-repeat="getchoice in allTimeline.attributes.field_polls[0].choices" ng-click="timelineAll.selectPoll(allTimeline,getchoice)">
                                {{getchoice.value}}
                </a>
              </div>
              <div class="userResult" ng-if="allTimeline.voted">
                <div>
                  <div class="headLabel">
                    <label>Results</label>
                    <label class="totalUsers">
                      {{allTimeline.sum}} Users
                    </label>
                  </div>
                  <div>
                    <label class="resultLabel">{{allTimeline.attributes.field_polls[0].choices[0].value}}</label>
                    <label class="resultBar">
                      <span class="agree" style="width:{{((allTimeline.attributes.field_polls[0].votes[0].value/allTimeline.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((allTimeline.attributes.field_polls[0].votes[0].value/allTimeline.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{allTimeline.attributes.field_polls[0].choices[1].value}}</label>
                    <label class="resultBar">
                      <span class="disagree" style="width:{{((allTimeline.attributes.field_polls[0].votes[1].value/allTimeline.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((allTimeline.attributes.field_polls[0].votes[1].value/allTimeline.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{allTimeline.attributes.field_polls[0].choices[2].value}}</label>
                    <label class="resultBar">
                      <span class="notsure" style="width:{{((allTimeline.attributes.field_polls[0].votes[2].value/allTimeline.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((allTimeline.attributes.field_polls[0].votes[2].value/allTimeline.sum) * 100).toFixed(1)}}%</label>
                  </div>
                </div>
              <div class="comment_section clear">
                <div class="commentCount">
                  <span>{{allTimeline.attributes.field_comments_count}} Comments</span>
                </div>
                <div class="commentRight">
                  <label class="commentLabel">
                    comment
                    <input type="checkbox" ng-model="comment" ng-click="timelineAll.ClickComments(allTimeline);" />
                  </label>
                  <label class="shareLabel" ng-show="{{allTimeline.attributes.field_polls[0].user_voted}}">
                    <a href="{{allTimeline.shareurl}}" target="_blank">Share</a>
                  </label>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Commentshow" ng-show="allTimeline.view">
          <div class="commenrWrapper">
            <div class="comment_post">
              <div class="userImg">
                <img ng-src={{users.prfPic}} />
              </div>
              <div class="commentPostright">
                <h2 class="userName">{{users.fullName}}</h2>
                <form>
                  <textarea ng-model="commentname" placeholder="Write a comment"></textarea>
                  <button ng-click="timelineAll.PostComments(allTimeline,commentname)" type="submit">Submit</button>
                </form>
              </div>
            </div>
            <div class="viewComment">
              <p>Comments (<span>{{allTimeline.attributes.field_comments_count}}</span>)</p>
              <div class="viewuser_comment" ng-repeat="usercomments in allTimeline.commentData">
                <div class="userImg">
                  <img ng-src={{usercomments.author.images.medium}} />
                </div>
                <div class="commentPostright">
                  <div class="userName">
                    <div class="nameTittle">
                      <h3>{{usercomments.author.full_name}}</h3>
                      <p>{{usercomments.created * 1000 | date:'dd MMMM yyyy'}}</p>
                    </div>
                    <p>{{usercomments.body}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagninateDown">
            <div class="clear">
              <div class="prev" ng-show="timelineAll.getPrev">
                <a ui-sref="landing.dashboard.timelineAll({ pageOffset: timelineAll.prevPage })"></a>
              </div>
              <div class="next" ng-show="timelineAll.getNext">
                <a ui-sref="landing.dashboard.timelineAll({ pageOffset: timelineAll.nextPage })"></a>
              </div>
            </div>
          </div>

          <div class="emptypage" ng-hide="timelineAll.dataLength > 0">
            <div class="empty_img">
              <div class="img"></div>
              <div>
                <h3>Oops</h3>
                <h5>No Timeline Found !</h5>
              </div>
            </div>
          </div>
</div>
