<style type="text/css">
    .userResult label.resultBar{
        width: 70%;
    }
    .userResult > div > div{
        padding-left: 100px;
        padding-right: 100px;
    }
    .userResult{
        padding: 70px;
    }
    .listSecWrapper{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .listSecWrapper:after{
       content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-color: #fff6;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .contentWrapper{
        z-index: 99;
    }
    .listContent h3{
        text-align: center;
    }
    .shareDetails{
        background-color: #ededed;
    }
    .userResult label.resultBar{
        background-color: #908f8f;
    }
    acme-navbar{
        display: none !important;
    }
</style>
 <div class="pageLoad sharePage trendingShare">
            <div class="header">
                <div class="contentWrapper">
                <div>
                    <div class="logo">
                        <a>
                            <img ng-src="{{$root.themeDir}}assets/images/logo.png"/>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="listSecWrapper" style="background-image: url({{shareTrending.shareTrend.attributes.images.large}})">
                   <div class="contentWrapper">
                        <div class="listContent">
                        <h3>
                                  {{shareTrending.shareTrend.attributes.title}}
                                </h3>
                        </div>
                        <div class="userControl">
                            <a href="{{shareTrending.shareTrend.attributes.field_extra.uri}}" class="article" target="_blank">Article</a>
                        </div>
                   </div>
            </div>
            <div class="shareDetails">
                 <div class="contentWrapper">
                        <div>
                            <h3>{{shareTrending.partiTopic.question}}</h3>
                        </div>
                        <div class="userResult">
                            <div>
                                <div class="headLabel">
                                    <label>Results</label>
                                    <label class="totalUsers">
                                        {{shareTrending.sum}}
                                        Users
                                    </label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{shareTrending.partiTopic.choices[0].value}}</label>
                                    <label class="resultBar">
                                    <span class="agree" style="width:{{((shareTrending.partiTopic.votes[0].value/shareTrending.sum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((shareTrending.partiTopic.votes[0].value/shareTrending.sum) * 100).toFixed(1)}}%</label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{shareTrending.partiTopic.choices[1].value}}</label>
                                    <label class="resultBar">
                                    <span class="disagree" style="width:{{((shareTrending.partiTopic.votes[1].value/shareTrending.sum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((shareTrending.partiTopic.votes[1].value/shareTrending.sum) * 100).toFixed(1)}}%</label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{shareTrending.partiTopic.choices[2].value}}</label>
                                    <label class="resultBar">
                                    <span class="notsure" style="width:{{((shareTrending.partiTopic.votes[2].value/shareTrending.sum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((shareTrending.partiTopic.votes[2].value/shareTrending.sum) * 100).toFixed(1)}}%</label>
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
    </div>


