<div class="appListSec">
    <div class="pageLoad trendingPage">
        <div class="pagninate">
                <!--<div class="home">
                    <a href="" ng-click="page.homePage();" ng-show="page.homeurl">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>

                </div>-->
            <div class="clear">
                <!--<div class="prev">
                    <a href="" ng-click="page.previousPage();" ng-show="page.prevurl">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <label>Prev Trendings</label>
                    </a>
                </div>-->
                <div class="countof">
                    <label>{{trending.dataLength}} Trendings in this page</label>
                </div>
                <!--<div class="next">
                     <a href="" ng-click="page.nextPage();" ng-show="page.nexturl">
                         <i class="fa fa-chevron-right" aria-hidden="true"></i>
                     </a>
                </div>-->
            </div>
        </div>
        <div class="itemlists">
            <div clas="listSec" ng-repeat="trend in trending.listData">
                <div class="listSecWrapper">
                    <a class="imgSec" ui-sref="landing.trendingdetails({trendingId: '{{trend.attributes.uuid}}'})" style="background-image: url({{trend.attributes.images.large}})"></a>
                    <div class="listData">
                        <div class="listContent">
                              <report data="trending.report" dataid="{{trend.attributes.uuid}}" datatype="{{trend.type}}"></report>
                                <h3>
                                   <a href="" ui-sref="landing.trendingdetails({trendingId: '{{trend.attributes.uuid}}'})"> {{trend.attributes.title}}</a>
                                </h3>
                        </div>
                        <div class="userControl">
                            <a href="" class="postive">Position<span>{{trend.attributes.field_polls.length}}</span></a>
                            <a href="{{trend.attributes.field_extra.uri}}" class="article" target="_blank">Article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="pagninateDown">
            <div class="clear">
              <div class="prev" ng-show="trending.getPrev">
                <a ui-sref="landing.trending({ pageOffset: trending.prevPage })"></a>
              </div>
              <div class="next" ng-show="trending.getNext">
                <a ui-sref="landing.trending({ pageOffset: trending.nextPage })"></a>
              </div>
            </div>
          </div>

          <div class="emptypage" ng-hide="trending.dataLength > 0">
            <div class="empty_img">
              <div class="img"></div>
              <div>
                <h3>Oops</h3>
                <h5>No Trending Found !</h5>
              </div>
            </div>
          </div>
    </div>
</div>
