<div class="appListSec">
 <div class="pageLoad trendingSingle">
    <div class="itemlists">
        <div class="backArrow">
            <a ui-sref="landing.trending">Back to Trending main</a>
        </div>
        <div class="listSec">
            <div class="listSecWrapper" style="background-image: url({{detailTrending.extractData.attributes.images.large}})">
                <div class="listData">
                    <div class="listContent">
                        <h3>
                                  {{detailTrending.extractData.attributes.title}}
                                </h3>
                    </div>
                    <div class="userControl">
                        <a href="" class="postive">Position<span>{{detailTrending.loopData.length}}</span></a>
                        <a href="{{detailTrending.extractData.attributes.field_extra.uri}}" class="article" target="_blank">Article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="itemSubLists" ng-repeat="trendingDetail in detailTrending.extractData.attributes.field_polls">
            <div class="listSecWrapper">
                <div class="listData">
                    <div class="listContent" ng-class="{'disabledTag':trendingDetail.voted}">
                         <report data="detailTrending.report" dataid="{{trendingDetail.id}}" datatype="{{detailTrending.extractData.type}}"></report>
                        <div class="countList">
                            <h4>{{$index+1}}</h4>
                        </div>
                        <h3>{{trendingDetail.question}}</h3>
                        <div class="userEvent">
                            <a class="agreeButton {{getchoice.value}}" ng-class="{'active': getchoice.id == trendingDetail.chid}" href="" ng-repeat="getchoice in trendingDetail.choices" ng-click="detailTrending.selectPoll(trendingDetail,getchoice)">
                                {{getchoice.value}}
                            </a>
                        </div>
                        <div class="userResult" ng-if="trendingDetail.voted">
                            <div>
                                <div class="headLabel">
                                    <label>Results</label>
                                    <label class="totalUsers">
                                        {{trendingDetail.sum}}
                                        Users
                                    </label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{trendingDetail.choices[0].value}}</label>
                                    <label class="resultBar">
                                    <span class="agree" style="width:{{((trendingDetail.votes[0].value/trendingDetail.sum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((trendingDetail.votes[0].value/trendingDetail.sum) * 100).toFixed(1)}}%</label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{trendingDetail.choices[1].value}}</label>
                                    <label class="resultBar">
                                    <span class="disagree" style="width:{{((trendingDetail.votes[1].value/trendingDetail.sum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((trendingDetail.votes[1].value/trendingDetail.sum) * 100).toFixed(1)}}%</label>
                                </div>
                                <div>
                                    <label class="resultLabel">{{trendingDetail.choices[2].value}}</label>
                                    <label class="resultBar">
                                    <span class="notsure" style="width:{{((trendingDetail.votes[2].value/trendingDetail.sum) * 100).toFixed(1)}}%"></span></label>
                                    <label class="resultValue">{{((trendingDetail.votes[2].value/trendingDetail.sum) * 100).toFixed(1)}}%</label>
                                </div>
                            </div>
                            <div class="shareBtn">
                                <a href="{{trendingDetail.shareurl}}" target="_blank">
                                        Share
                                      </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

