<div class="appListSec">
    <div class="pageLoad Awards">
         <div class="pagninate">
                <!--<div class="home">
                    <a href="" ng-click="page.homePage();" ng-show="page.homeurl">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>

                </div>-->
            <div class="clear">
                <!--<div class="prev">
                    <a href="" ng-click="page.previousPage();" ng-show="page.prevurl">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <label>Prev Trendings</label>
                    </a>
                </div>-->
                <div class="countof">
                    <label>Select and active award category from the below list</label>
                </div>
                <!--<div class="next">
                     <a href="" ng-click="page.nextPage();" ng-show="page.nexturl">
                         <i class="fa fa-chevron-right" aria-hidden="true"></i>
                     </a>
                </div>-->
            </div>
        </div>
        <div class="itemlists">
            <div clas="listSec" ng-repeat="award in awards.listData">
                <div class="listSecWrapper">
                    <div class="listData">
                        <div class="listContent">
                            <a href="" style="background-image: url({{award.attributes.images.large}})" ui-sref="landing.awardsdetail({awardId: '{{award.attributes.uuid}}'})">
                                <h3>
                                    {{award.attributes.title}}
                                    <label>{{award.attributes.field_polls.length}}</label>
                                </h3>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagninateDown" ng-show="awards.dataLength > 0">
            <div class="clear">
                <div class="prev" ng-show="awards.getPrev">
                    <a href="" ng-click="awards.previousPage('ballotbox');" ng-class="{'activeTag':page.prevurl}"></a>
                </div>
                <div class="next" ng-show="awards.getPrev">
                     <a href="" ng-click="awards.nextPage('ballotbox');" ng-class="{'activeTag':page.nexturl}"></a>
                </div>
            </div>
        </div>
        <div class="emptypage" ng-hide="awards.dataLength > 0">
                <div class="empty_img">
                    <div class="img"></div>
                    <div>
                        <h3>Oops</h3>
                        <h5>No Awards Found !</h5>
                    </div>
                </div>
            </div>
    </div>
</div>
