<div class="appListSec">
 <div class="pageLoad awardSingle">
    <div class="itemlists">
        <div class="backArrow">
            <a ui-sref="landing.awards">Back to Awards main</a>
        </div>
        <div class="listSec">
            <div class="listSecWrapper" style="background-image: url({{awardsdetail.listData.attributes.images.large}})">
                <div class="listData">
                    <div class="listContent">
                    <div class="listContentData">
                        <h3>
                                  {{awardsdetail.listData.attributes.title}}
                                </h3>
                        <h2>{{awardsdetail.listData.attributes.field_sub_heading}}</h2>
                        <p>{{awardsdetail.listData.attributes.body.value}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="itemSubLists" ng-repeat="award in awardsdetail.listData.attributes.field_polls" ng-class="{'disabledTag':award.voted}">
            <div class="listSecWrapper">
                <div class="listData">
                    <div class="listContent" ng-class="{'disabledTag':award.user_voted || getpollStatus == 1}">
                         <report data="awardsdetail.report" dataid="{{award.id}}" datatype="{{awardsdetail.listData.type}}"></report>
                        <h3>{{award.question}}</h3>
                        <div class="userEvent">
                        <div ng-repeat="awardChoice in award.choices">
                                        <a href="" ng-click="awardsdetail.selectPoll(award,awardChoice)" ng-class="{'active': awardChoice.id == award.chid}">{{awardChoice.value}}</a>
                                    </div>

                            <!--<a class="agreeButton" href="" >
                            {{trendingDetail.choices[0].value}}</a>
                            <a class="disagreeButton" href="" ng-click="page.selectEvent(trendingDetail.id,trendingDetail.choices[1].id)">{{trendingDetail.choices[1].value}}</a>
                            <a class="notsureButton" href="" ng-click="page.selectEvent(trendingDetail.id,trendingDetail.choices[2].id)">{{trendingDetail.choices[2].value}}</a>-->
                        </div>
                        <div class="userResult" ng-if="award.voted">
                            <div>
                                <div class="headLabel">
                                    <label>Results</label>
                                    <label class="totalUsers">
                                         {{award.sum}}
                                        Users
                                    </label>
                                </div>
                                <div class="">
                                    <div class="chartBar">
                                           <nvd3 options='awardsdetail.options' data='award.chart'></nvd3>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

