<div class="overlayLayer">
<div class="overlayBg">
<div>
<ng-camera
            capture-message="Cheeeese!"
            countdown="3"
             output-height="320"
            output-width="500"
            image-format="jpeg"
            jpeg-quality="100"
            action-message="Take picture"
            snapshot="vm.picture"
            flash-fallback-url="/vendors/webcamjs/webcam.swf"
            shutter-url="/shutter.mp3"
            ></ng-camera>
            <!-- for cropping:
                crop-height="90"
                crop-width="120"
            -->
            <img ng-if="vm.picture" ng-src="{{vm.picture}}" alt="webcam picture">
</div></div></div>
