<div class="mainContain forgotPass">
  <div class="wrapper">
    <div class="contain">
      <div class="container">
      <div class="forgotPassContent">
          <h3>Forgot Password/Password assistance</h3>
          <h5>Enter the email address or mobile phone number associated with your TAP account.</h5>
          <form name="forgotPassForm" ng-submit="users.forgotpass(email)">
            <div class="row">
              <input type="text" value="" name="email" ng-model="email" ng-required="true" placeholder="Email or mobile phone number" />
            </div>
            <div class="row">
             <input type="submit" value="{{users.forgotSubmit}}"/>
            </div>
            <div class="row error" ng-if="users.forgoterror">{{users.forgoterrorMsg}}</div>
            <div class="row success" ng-if="users.forgotSuccess">{{users.forgotSuccessMsg}}</div>
          </form>

          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<acme-footer></acme-footer>
