<div class="mainContain login">
  <div class="wrapper">
    <div class="contain">
      <div class="container">
        <div class="mobileCover">
          <div class="mobileCarousal">
            <ul>
              <li>
                <img ng-src="{{$root.themeDir}}assets/images/phone/phone1.jpg"/>
              </li>
            </ul>
          </div>
          <div class="downloadPath">
             <a href="{{main.android}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/googlestore.png"/>
            </a>
            <a href="{{main.ios}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/appstore.png"/>
            </a>
          </div>
        </div>
        <div class="mobileContent">
          <div class="userContent">
            <div class="ulLink">
              <ul class="clear">
              <li><a class="SignIn">SignIn</a></li>
              <li><a ui-sref="register" class="SignUp">SignUp</a></li>
              </ul>
            </div>
            <div class="loginBox" ng-controller="UserController">
              <div class="userWrap">
                <form name="loginForm" ng-submit="users.signin(name, password)">
                  <div class="row">
                    <input type="text" value="" name="name" ng-model="name" ng-required="true" placeholder="User Name" />
                  </div>
                  <div class="row lastRow">
                    <input type="password" value="" name="password" ng-model="password" ng-required="true" placeholder="Password"/>
                  </div>
                 <div class="row error" ng-if="users.loginErr">{{users.loginErrText}}</div>
                    <div class="row submit">
                      <input type="submit" value="{{users.loginSubmit}}">
                    </div>
                </form>
                <div class="outerRow">
                    <ul class="clear">
                      <li><a ui-sref="forgot">i forgot password</a></li>
                      <li><a ui-sref="register">Sign Up</a></li>
                    </ul>
                </div>
                <div class="outerRowSocial">
                    <h4>or Signin with</h4>
                    <ul class="clear">
                      <li class="twitter"><a href="" ng-click='users.socialLogin("twitter")'>twitter</a></li>
                      <li class="facebook"><a href="" ng-click='users.socialLogin("facebook")'>facebook</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homeContent">
  <div class="wrapper">
    <div class="contain">
      <div class="pageContent clear">
        <div>
          <h3>TAP – Your opinion counts!</h3>
          <h4>Welcome to TAP, an online platform that enables you to voice your opinion on issues that are current and relevant to the people of India.</h4>
          <p>TAP, which is an acronym for ‘Take a Position’, throws open a range of topics every day and lets you take a position on them. You can also post your views on a topic and even raise issues, subject to TAP’s policies, that you believe require airing. </p>
          <p>TAP aims to serve as a platform for people from all walks of life and seeks to provide an opportunity to voice opinions and express views. Your opinion and those of people like you is the basis of ‘public opinion’ and is the foundation on which a vibrant democracy is built. </p>
          <p>Join TAP and let your voice be heard. It’s the first step in creating the change you seek.</p>
        </div>
        <div class="shortContent">
          <div>
            <h3>Do people in your circle agree with your views?</h3>
            <p>TAP helps you ﬁnd out the position taken by the people you know on various issues of common interest as well as trending topics.</p>
          </div>
          <div>
            <h3>Find out what others think of your views?</h3>
            <p>Post your views at TAP and ﬁnd out whether others agree or disagree with you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<acme-footer></acme-footer>
