<div class="appListSec">
  <div class="pageLoad otherProfile" ng-controller="UserController" ng-init="users.otherProfile();">
      <div class="userPanelCtrl">
          <div>
            <h3>About {{users.getuserData.field_full_name[0].value}}</h3>
          </div>
          <div class="usercover" ng-controller="TabController">
              <div class="userMenuList">
                  <ul>
                    <li class="otherPrfImg">
                      <a href="">
                          <img ng-src="{{users.getuserData.user_picture[0].url}}" alt="" />
                      </a>
                    </li>
                    <li ng-class="{ active: page.isSetPanel(1) }">
                      <a href="" ng-click="page.setTabPanel(1)">Basic Info</a>
                    </li>
                    <li ng-class="{ active: page.isSetPanel(2) }">
                      <a href="" ng-click="page.setTabPanel(2)">Interests</a>
                    </li>
                  </ul>
              </div>
              <div class="userBrief">
                  <div>
                    <div class="basic_info" ng-show="page.isSetPanel(1)">
                         <div class="followButton">
                             <a href="" class="Follow" ng-click="users.postFollow(users.getuserData.uid[0].value)" ng-if="users.getuserfollow == 0">Follow</a>
                              <a href="" class="unFollow" ng-click="users.postunFollow(users.getuserData.uid[0].value)" ng-if="users.getuserfollow == 1">Un Follow</a>
                          </div>
                        <div class="row clear">
                            <label class="label">Name</label>
                            <label><input type="text" name="" value="{{users.getuserData.name[0].value}}" ng-readonly="true"/></label>
                        </div>
                         <div class="row clear">
                             <label class="label">Country</label>
                            <label><input type="text" name="" value="{{users.getuserData.field_country[0].value}}" ng-readonly="true"/></label>
                        </div>
                         <!-- <div class="row clear">
                             <label class="label">City</label>
                            <label><input type="text" name="" value="{{users.getuserData.field_city[0].value}}" /></label>
                        </div> -->
                         <div class="row clear">
                             <label class="label">State</label>
                            <label><input type="text" name="" value="{{users.getuserData.field_state[0].value}}" ng-readonly="true"/></label>
                        </div>
                         <div class="row clear">
                            <label class="label">Date of Birth</label>
                            <label><input type="email" name="" value="{{users.getuserData.field_date_of_birth[0].value}}" ng-readonly="true"/></label>
                        </div>
                         <div class="row last clear">
                            <div class="col">
                                <label>Followers</label>(<label>{{users.getuserData.field_user_followers[0].value}}</label>)
                            </div>
                            <div class="col">
                              <label>Following</label>(<label>{{users.getuserData.field_user_following[0].value}}</label>)
                            </div>
                        </div>
                    </div>
                    <div class="interests" ng-show="page.isSetPanel(2)">
                        <div>
                          <h3>{{users.getuserData.field_interests[0].value}} No Interests Choosen</h3>
                        </div>

                    </div>

              </div>
               </div>
          </div>
      </div>
  </div>
</div>
