<div class="mainContain Register">
  <div class="wrapper">
    <div class="contain">
      <div class="container">
        <div class="mobileCover">
          <div class="mobileCarousal">
            <ul>
              <li>
                <img ng-src="{{$root.themeDir}}assets/images/phone/phone1.jpg"/>
              </li>
            </ul>
          </div>
          <div class="downloadPath">
            <a href="{{main.android}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/googlestore.png"/>
            </a>
            <a href="{{main.ios}}" target="_blank">
              <img ng-src="{{$root.themeDir}}assets/images/appstore.png"/>
            </a>
          </div>
        </div>
        <div class="mobileContent">
          <div class="userContent">
            <div class="ulLink">
              <ul class="clear">
              <li><a ui-sref="login" class="SignIn">SignIn</a></li>
              <li><a class="SignUp">SignUp</a></li>
              </ul>
            </div>

            <div class="registerBox" ng-controller="UserController">
               <div class="userWrap">
                  <form ng-submit="users.signup()">
                      <div class="row">
                        <input type="text" value="" name="name" ng-model="users.fullname" ng-required="true" placeholder="Full Name"/>
                      </div>
                     <div class="row doubleRow">
                        <!---<div class="row">
                            <input type="text" value="" name="country" placeholder="City"/>
                        </div>-->
                         <div class="row">
                          <!-- <input type="text" value="" name="country" ng-model="users.country" ng-required="true" placeholder="Country"/> -->
                          <select value="" name="country"
                            ng-model="users.country"
                            ng-required="true"
                            placeholder="Country"
                            ng-options="country.name for country in users.countryList"
                            ng-change="users.updateCountry()">
                                <option value="" selected="">Select Country</option>
                          </select>
                        </div>
                        <div class="row">
                          <!-- <input type="text" value="" name="state" ng-model="users.state" ng-required="true" placeholder="State" /> -->
                          <select value="" name="state" ng-model="users.state" ng-required="true" placeholder="State">
                                <option value="" selected="">Select State</option>
                                <option ng-repeat="state in users.availableStates" value="{{state.name}}">{{state.name}}</option>
                          </select>
                        </div>
                      </div>
                       <div class="row" moment-picker="users.dob" format="MM/DD/YYYY">
                        <input type="text" value="" name="dob" ng-model="users.dob" ng-required="true" placeholder="Date of Birth"/>
                      </div>
                       <div class="row">
                        <input type="text" value="" name="email" ng-model="users.email" ng-required="true" placeholder="Email Id"/>
                      </div>
                       <div class="row">
                        <input type="password" value="" name="password" ng-model="users.password" ng-required="true" placeholder="Password" equals="{{users.password}}"/>
                      </div>
                      <div class="row lastRow">
                        <input type="password" name="re_password" ng-model="re_password" placeholder="Confirm Password" equals="{{re_password}}"  ng-required="true"/>
                      </div>
                        <div class="row error" ng-if="re_password != users.password">Password did not match</div>
                       <div class="row error" ng-if="users.regError">{{users.regErrErrText}}</div>
                      <div class="row success" ng-if="users.regSuccess">{{users.regSuccessMsg}}</div>
                      <div class="row">
                        <input type="submit" value="{{users.regSubmit}}">
                      </div>
                      <div class="outerRowSocial">
                        <h4>or Signin with</h4>
                        <ul class="clear">
                          <li class="twitter"><a href="">twitter</a></li>
                          <li class="facebook"><a href="">facebook</a></li>
                          <li class="google"><a href="">google</a></li>
                        </ul>
                    </div>
                  </form>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homeContent">
  <div class="wrapper">
    <div class="contain">
      <div class="pageContent clear">
        <div>
          <h3>TAP – Your opinion counts!</h3>
          <h4>Welcome to TAP, an online platform that enables you to voice your opinion on issues that are current and relevant to the people of India.</h4>
          <p>TAP, which is an acronym for ‘Take a Position’, throws open a range of topics every day and lets you take a position on them. You can also post your views on a topic and even raise issues, subject to TAP’s policies, that you believe require airing. </p>
          <p>TAP aims to serve as a platform for people from all walks of life and seeks to provide an opportunity to voice opinions and express views. Your opinion and those of people like you is the basis of ‘public opinion’ and is the foundation on which a vibrant democracy is built. </p>
          <p>Join TAP and let your voice be heard. It’s the first step in creating the change you seek.</p>
        </div>
        <div class="shortContent">
          <div>
            <h3>Do people in your circle agree with your views?</h3>
            <p>TAP helps you ﬁnd out the position taken by the people you know on various issues of common interest as well as trending topics.</p>
          </div>
          <div>
            <h3>Find out what others think of your views?</h3>
            <p>Post your views at TAP and ﬁnd out whether others agree or disagree with you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<acme-footer creation-date="main.creationDate"></acme-footer>
