<div class="mainContain resetPass">
  <div class="wrapper">
    <div class="contain">
      <div class="container">
        <div class="forgotPassContent">
            <h3>Reset Password</h3>
            <h5>Enter the New password for your TAP account.</h5>
            <form name="resetPassForm" ng-submit="users.resetwebPass(password)">
              <div class="row">
                <input type="password" value="" name="pass" ng-model="password" ng-required="true" placeholder="Enter New Password" equals="{{users.pass}}"/>
              </div>
              <div class="row last">
                <input type="password" value="" name="re_pass" ng-model="re_password" ng-required="true" placeholder="Re-enter New Password" equals="{{re_pass}}" />
              </div>
              <div class="row error" ng-if="re_password != password">Password did not match</div>
              <div class="row">
               <input type="submit" value="{{users.resetSubmit}}"/>
              </div>
              <div class="row error" ng-if="users.reseterror">{{users.reseterrorMsg}}</div>
              <div class="row success" ng-if="users.resetSuccess">{{users.resetSuccessMsg}}</div>
            </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<acme-footer creation-date="main.creationDate"></acme-footer>
