<div class="appListSec" ng-init="users.getuserDetails();">
  <div class="pageLoad userProfile">
      <div class="userPanelCtrl">
          <div>
            <h3>About Me</h3>
          </div>
          <div class="usercover">
              <div class="userMenuList">
                  <ul>
                    <li ng-class="{ active: page.isSetPanel(1) }">
                      <a href="" ng-click="page.setTabPanel(1)">Basic Info</a>
                    </li>
                    <li ng-class="{ active: page.isSetPanel(2) }">
                      <a href="" ng-click="page.setTabPanel(2)">Interests</a>
                    </li>
                    <li ng-class="{ active: page.isSetPanel(3) }">
                      <a href="" ng-click="page.setTabPanel(3)">Change Password</a>
                    </li>
                    <li ng-class="{ active: page.isSetPanel(4) }">
                      <a href="" ng-click="page.setTabPanel(4)">Change Profile Pic</a>
                    </li>
                  </ul>
              </div>
              <div class="userBrief" ng-controller="UserController">

              <div>
            <form name="updateForm" ng-submit="users.updateProfile(updateInterest)">
                    <div class="basic_info" ng-show="page.isSetPanel(1)">
                        <div class="edit">
                            <input type="submit" value="Save" ng-hide="users.isReadOnly"/>
                            <input type="button" value="Edit" ng-show="users.isReadOnly" ng-click="users.editable();"/>
                        </div>
                        <div class="row clear">
                        <label class="label">Name</label>
                        <label>
                          <input type="hidden" name="actualId" ng-model="users.actualId" />
                          <input type="text" name="updateName" ng-model="users.updateName" ng-readonly="users.isReadOnly"/>
                        </label>
                        </div>
                         <div class="row clear">
                             <label class="label">Country</label>
                            <label>
                              <select value="" name="updateCountry" ng-model="users.updateCountry" ng-disabled="users.isReadOnly">
                                <option ng-repeat="country in users.countryList" ng-selected="{{country==users.updateCountry}}" value="{{country.code}}">{{country.name}}</option>
                              </select>
                            </label>
                        </div>
                         <div class="row clear">
                             <label class="label">State</label>
                            <label><input type="text" name="updateState" ng-model="users.updateState" ng-readonly="users.isReadOnly"/></label>
                        </div>
                         <div class="row clear">
                            <label class="label">Date of Birth</label>
                            <label class="input-group" moment-picker="users.dob" format="MM/DD/YYYY" ng-disabled="users.isReadOnly">
                              <input name="ctrl.datepicker" class="form-control" ng-model="users.dob" placeholder="{{users.viewprf.field_date_of_birth[0].value}}" ng-disabled="users.isReadOnly"/>
                            </label>
                        </div>
                    </div>
                    <div class="interests" ng-show="page.isSetPanel(2)">
                         <div class="edit">
                            <input type="button" value="Edit" ng-click="users.showModel();"/>
                        </div>
                        <div>
                          <input hidden="" name="updateInterest" ng-model="updateInterest"/>
                            <a href="" ng-repeat="userInterest in users.viewprf.field_interests">{{userInterest.name}}</a>
                        </div>
                    </div>
                    </form>
                    <div class="change_pass" ng-show="page.isSetPanel(3)">
                       <form name="changePassForm" ng-submit="users.changePass(users.viewprf.uid[0].value,currentpass,newpass)">
                        <div class="edit">
                            <input type="submit" value="Save">
                        </div>
                        <div class="row clear">
                             <label class="label">Current</label>
                            <label><input type="text" name="currentpass" ng-model="currentpass" ng-required="true" /></label>
                        </div>
                         <div class="row clear">
                             <label class="label">New </label>
                            <label><input type="text" name="newpass" ng-model="newpass" ng-required="true" equals="{{currentpass}}"/></label>
                        </div>
                         <div class="row clear">
                            <label class="label">Re Enter</label>
                            <label><input type="text" name="re_newpass" ng-model="re_newpass" equals="{{re_newpass}}"/></label>
                        </div>
                         <div class="row error" ng-if="re_newpass != newpass">Password did not match</div>
                        </form>
                    </div>
                    <div class="change_pic" ng-show="page.isSetPanel(4)">
                      <div class="uploadData">
                            <div class="uploadPic">

                                <div class="imgContain">
                                  <input type="file" ng-model="users.myfile" ng-change="users.changePic(users.actualId);" base-sixty-four-input />
                                  <img ng-src="{{users.prfPic}}" />

                                </div>
                                <label>Upload a Picture</label>
                            </div>
                            <div class="takePic">
                                <button ng-click="users.openWebCam('landing/userprofile/camera')">
                                <img ng-src="{{vm.picture}}" alt="webcam picture" ng-if='users.camera'/>

                                </button>
                                <label>Take a Picture</label>
                            </div>
                        </div>

                    </div>
                </div>
               </div>
          </div>
      </div>
  </div>
</div>
<a class="camClose" href="" ng-click="users.disableCamera(users.actualId,vm.picture);" ng-if='users.camera'>X</a>
<div ui-view ng-if="users.camera"></div>
