<div>
	<div class="followContents">
	  <div class="followingSearch">
	  		<input type="text" value="" placeholder="Search Following Users" ng-model="following.followingUser"  ng-change="following.searchUser()"/>
	  </div>
    <div class="followingdetails" ng-repeat="userfollowing in following.followingdata">
       <div class="contentwrapper clear">
           <a class="ProfUrl" ui-sref="landing.viewuser({ userid: userfollowing.uid[0].value })" id="{{ $index + 1 }}">
            <img src="{{userfollowing.user_picture[0].url}}" />
            <p>{{userfollowing.field_full_name[0].value}}</p>
          </a>
          <a href="" class="Follow" ng-click="following.following(userfollowing,userfollowing.uid[0].value)" ng-if="userfollowing.following == false">Follow</a>
          <a href="" class="Following" ng-click="following.unfollowing(userfollowing,userfollowing.uid[0].value)" ng-if="userfollowing.following == true">Following</a>
      </div>
    </div>
  </div>
</div>

