<div class="appListSec">
  <div class="pageLoad following">
    <div class="tabView">
      <div class="tabList">
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active">
            <a ui-sref="landing.follow.followers({userid : follow.getusrid})">Followers</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="landing.follow.following({userid : follow.getusrid})" href="">Following</a>
          </li>
        </ul>
      </div>
      <div class="tabContent jumbotron ui-view">
      </div>
    </div>
  </div>
</div>
