<div>
  <div class="followContents">
    <div class="followingSearch">
        <input type="text" value="" placeholder="Search Followers"  ng-model="followers.userSearch" ng-change="followers.searchUser()"/>
    </div>
  <div class="followingdetails" ng-repeat="userFollower in followers.followerdata">
    <div class="contentwrapper clear">
     <a class="ProfUrl" ui-sref="landing.viewuser({ userid: userFollower.uid[0].value })" id="{{ $index + 1 }}">
        <img src="{{userFollower.user_picture[0].url}}" />
        <p>{{userFollower.field_full_name[0].value}}</p>
      </a>
        <a href="" class="Follow" ng-click="followers.follower(userFollower,userFollower.uid[0].value)" ng-show="userFollower.follower == false">Follow</a>
        <a href="" class="UnFollow" ng-click="followers.unfollower(userFollower,userFollower.uid[0].value)" ng-show="userFollower.follower == true">Un Follow</a>
    </div>
  </div>
   </div>
</div>