<div class="appListSec">
    <div class="pageLoad BallotBox">
         <div class="pagninate">
            <div class="clear">
                <div class="countof">
                    <label>Total {{ballotbox.totalData}} Ballotboxes</label>
                </div>
                <div>
                  <label>{{ballotbox.dataLength}} Ballotbox in this page</label>
                </div>
            </div>
        </div>
        <div class="itemlists">
            <div class="listSec" ng-repeat="ballot in ballotbox.listData" ng-class="{'disabledTag':ballot.voted}">
                <div class="listSecWrapper">
                    <div class="listData">
                        <div class="listContent">
                           <report data="ballotbox.report" dataid="{{ballot.attributes.uuid}}" datatype="{{ballot.type}}"></report>
                            <h4>
                              <span ng-repeat="ballotCate in ballot.attributes.field_content_category">{{ballotCate.name}}</span>
                            </h4>
                            <h3>
                                    {{ballot.attributes.field_polls[0].question}}
                                </h3>
                            <div class="ballorLists clear">
                                <div class="ballotContain">
                                    <div ng-repeat="ballotChoice in ballot.attributes.field_polls[0].choices">
                                     <a href="" ng-click="ballotbox.selectPoll(ballot,ballotChoice)" ng-class="{'active': ballotChoice.id == ballot.chid}">{{ballotChoice.value}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="userResult" ng-if="ballot.voted">
                            <div>
                                <div class="headLabel">
                                    <label>Results</label>
                                    <label class="totalUsers">
                                         {{ballot.sum}}
                                        Users
                                    </label>
                                </div>
                                <div class="">
                                    <div class="chartBar">
                                         <nvd3 options="ballotbox.options" data="ballot.attributes.field_polls[0].chart"></nvd3>
                                    </div>
                                </div>
                            </div>
                            <div class="shareBtn">
                                <a href="{{ballot.shareurl}}" target="_blank">
                                        Share
                                      </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagninateDown">
            <div class="clear">
              <div class="prev" ng-show="ballotbox.getPrev">
                <a ui-sref="landing.ballotbox({ pageOffset: ballotbox.prevPage })"></a>
              </div>
              <div class="next" ng-show="ballotbox.getNext">
                <a ui-sref="landing.ballotbox({ pageOffset: ballotbox.nextPage })"></a>
              </div>
            </div>
          </div>

          <div class="emptypage" ng-hide="ballotbox.dataLength > 0">
            <div class="empty_img">
              <div class="img"></div>
              <div>
                <h3>Oops</h3>
                <h5>No Ballotbox Found !</h5>
              </div>
            </div>
          </div>
    </div>
</div>
