<div class="appListSec">
    <div class="moviesLoad movies_list">

        <div class="categoryLists">
            <div class="clear">
                <div>
                     <div class="countof">
                        <label>{{movies.dataLength}} Movies</label>
                    </div>
                </div>
                <div>
                    <label>
                        Select Sports
                         <select name="singleSelect" ng-model="categoryid"
                             ng-init="categoryid=category.uuid"
                             ng-change = "movies.language(categoryid)">
                            <option value="all">All</option>
                            <option value="{{category.uuid}}" ng-repeat="category in movies.getCategory">{{category.name}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="itemlists" >
            <div class="listSec" ng-repeat="movie in movies.listData">
                <div class="listSecWrapper">
                    <a class="imgSec" style="background-image: url({{movie.attributes.images.large}})"></a>
                    <div class="listData">
                        <div class="listContent">
                            <div class="movies_details">
                                <ul>
                                    <li>{{movie.attributes.field_movie_year}}</li>
                                    <li><span ng-repeat="language in movie.attributes.field_movie_language">{{language}}</span></li>
                                    <li>{{movie.attributes.field_movie_duration}}</li>
                                </ul>
                            </div>
                            <div class="movies_name">
                                <h3>
                                    {{movie.attributes.title}}
                                </h3>
                                <div class="movies_category">
                                    <ul>
                                        <li ng-repeat="cate in movie.attributes.field_genre">{{cate}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="director">
                                <p>
                                    <label>Director:</label><span>{{movie.attributes.field_movie_director}}</span></p>
                                <p>
                                    <label>Cast:</label><span>{{movie.attributes.field_movie_cast}}</span></p>
                            </div>
                            <div class="rating_section">
                                <ul>
                                    <li class="tapUserCon">
                                        <div class="review_con">
                                            <h3>Your</h3>
                                            <div class="rateText" ng-class="{'rated':movie.user_voted}">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <label class="adjustlabel">
                                                    <span class="rateLabel">Rate</span>
                                                    <span class="showvalue"><label>{{movie.myvote}}</label>/10</span></label>
                                            </div>
                                        </div>
                                        <div class="hoverRating">
                                            <div class="container">
                                           <!--  <div rating score="movies.score" max="10" loopdata="{{movies}}" currate="{{(movies.attributes.rating.user_vote)/10}}">
                                            </div> -->
                                            <div>
                                                <div class='rating'>
                                                  <a ng-repeat='star in movie.stars track by $index'
                                                  ng-class="{'active':$index <= movie.myvote-1}"
                                                  ng-click="movies.ratingStar(movie,$index)">
                                                    <i class='fa fa-star-o' ng-class="{'fa-star':$index <= movie.myvote-1}"></i>
                                                  </a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review_con">
                                            <h3>Tab</h3>
                                            <div class="rateText">
                                                <a href="#"> <i class="fa fa-star"></i></a><span>
                                                <span>{{movie.tapVote}}/10</span>
                                                <br/>
                                                <span>{{movie.attributes.rating.vote_sum}}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review_con">
                                            <h3>Imdb</h3>
                                            <div class="rateText">
                                                <a href="#"> <i class="fa fa-star"></i></a>
                                                <span>{{movie.attributes.field_imdb_rating}}/10</span>
                                                <br/><span>{{movie.attributes.field_imdb_reviews}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!---<div star-rating ng-model="rating1" max="10" on-rating-selected="rateFunction(rating)"></div>
                               <div><strong>Rating 1:</strong> {{rating1}}</div>
                               <button class="submitid" name="movie" ng-click="movies.moviesid();" value="{{movies.id}}">Submit</button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagninateDown">
            <div class="clear">
              <div class="prev" ng-show="movies.getPrev">
                <a ui-sref="landing.movies({ pageOffset: movies.prevPage })"></a>
              </div>
              <div class="next" ng-show="movies.getNext">
                <a ui-sref="landing.movies({ pageOffset: movies.nextPage })"></a>
              </div>
            </div>
          </div>
          <div class="emptypage" ng-hide="movies.dataLength > 0">
            <div class="empty_img">
              <div class="img"></div>
              <div>
                <h3>Oops</h3>
                <h5>No Timeline Found !</h5>
              </div>
            </div>
          </div>
    </div>
</div>
