      <div class="appListSec">
        <div class="pageLoad dashboard">
          <div class="itemlists">
            <div class="tabView">
              <div class="tabList">
                <ul class="nav nav-pills nav-stacked">
                  <li ui-sref-active="active">
                    <a ui-sref="landing.dashboard.trending">TRENDING</a>
                  </li>
                  <li ui-sref-active="active">
                    <a ui-sref="landing.dashboard.ballotbox">BALLOT BOX</a>
                  </li>
                  <li ui-sref-active="active">
                    <a ui-sref="landing.dashboard.timeline">TIMELINE</a>
                  </li>
                </ul>
              </div>
              <div class="tabContent jumbotron" ui-view>
              </div>
            </div>
          </div>
        </div>
      </div>
