<div>
  <div class="itemSubLists BallotBox dashballotbox">

    <div class="listSec ballotbox" ng-repeat="ballotboxQuestion in dashballotbox.listData" ng-class="{'disabledTag':ballotboxQuestion.voted}">
      <div class="listSecWrapper">
        <div class="listData">
          <div class="listContent">
            <h4>general</h4>
            <h3>
              {{ballotboxQuestion.attributes.field_polls[0].question}}
            </h3>
            <div class="ballorLists clear">
              <div class="ballotContain">
                <div ng-repeat="ballotChoice in ballotboxQuestion.attributes.field_polls[0].choices">
                  <a href="" ng-click="ballotbox.selectPoll(ballotboxQuestion.id,ballotChoice.id)" ng-class="{'active': ballotChoice.id == ballotboxQuestion.attributes.field_polls[0].user_vote_value.chid}">{{ballotChoice.value}}</a>
              </div>
            </div>
			</div>
            <div class="userResult" ng-show="{{ballotboxQuestion.attributes.field_polls[0].user_voted}}">
              <div>
                <div class="headLabel">
                  <label>Results</label>
                  <label class="totalUsers" ng-init="dashboard.totalUser(ballotboxQuestion.attributes.field_polls[0])">
                    {{ballotboxQuestion.sum}}
                    Users
                  </label>
                </div>
                <div class="">
                  <div class="chartBar">
                    <nvd3 options='dashballotbox.options' data='ballotboxQuestion.attributes.field_polls[0].chart'></nvd3>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>

  <div class="pagninateDown">
    <div class="clear">
      <div class="prev" ng-show="dashballotbox.getPrev">
        <a ui-sref="landing.dashboard.ballotbox({ pageOffset: dashballotbox.prevPage })"></a>
      </div>
      <div class="next" ng-show="dashballotbox.getNext">
        <a ui-sref="landing.dashboard.ballotbox({ pageOffset: dashballotbox.nextPage })"></a>
      </div>
    </div>
  </div>

  <div class="emptypage" ng-hide="dashballotbox.listData.length > 0">
    <div class="empty_img">
      <div class="img"></div>
      <div>
        <h3>Oops</h3>
        <h5>No Dashboard Ballotbox Found !</h5>
      </div>
    </div>
  </div>
</div>