<div>
  <div class="TrendingDashboard" ng-repeat="dash in dashtrending.listData">
    <div class="listSec">
      <div class="listSecWrapper" style="background-image: url({{dash.attributes.images.large}})">
        <div class="listData">
          <div class="listContent">
            <h3>
              {{dash.attributes.title}}
            </h3>
          </div>
          <div class="userControl">
            <a href="" class="postive">Position<span>{{dash.attributes.field_polls.length}}</span></a>
            <a href="" class="article">Article</a>
          </div>
        </div>
      </div>
    </div>
    <div class="itemSubLists">
      <div class="ListView dashBoardView" ng-repeat="ques in dash.attributes.field_polls">
        <div class="listSecWrapper">
          <div class="listData">
            <div class="listContent" ng-class="{'disabledTag':ques.user_voted}">
              <div class="countList">
                <h4>{{$index+1}}</h4>
              </div>
              <h3>
                {{ques.question}}
              </h3>
              <div class="userEvent">
                <a class="agreeButton {{getchoice.value}}"
                   ng-class="{'active': getchoice.id == ques.user_vote_value.chid}" href=""
                   ng-repeat="getchoice in ques.choices" ng-click="dash.selectEvent(ques.id,getchoice.id)">
                  {{getchoice.value}}
                </a>
              </div>
              <div class="userResult">
                <div>
                  <div class="headLabel">
                    <label>Results</label>
                    <label class="totalUsers">
                      {{ques.sum}} Users
                    </label>
                  </div>
                  <div>
                    <label class="resultLabel">{{ques.choices[0].value}}</label>
                    <label class="resultBar">
                                <span class="agree"
                                      style="width:{{((ques.votes[0].value/ques.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((ques.votes[0].value/ques.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{ques.choices[1].value}}</label>
                    <label class="resultBar">
                                <span class="disagree"
                                      style="width:{{((ques.votes[1].value/ques.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((ques.votes[1].value/ques.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{ques.choices[2].value}}</label>
                    <label class="resultBar">
                                <span class="notsure"
                                      style="width:{{((ques.votes[2].value/ques.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((ques.votes[2].value/ques.sum) * 100).toFixed(1)}}%</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagninateDown">
    <div class="clear">
      <div class="prev" ng-show="dashtrending.getPrev">
        <a ui-sref="landing.dashboard.trending({ pageOffset: dashtrending.prevPage })"></a>
      </div>
      <div class="next" ng-show="dashtrending.getNext">
        <a ui-sref="landing.dashboard.trending({ pageOffset: dashtrending.nextPage })"></a>
      </div>
    </div>
  </div>

  <div class="emptypage" ng-hide="dashtrending.dataLength > 0">
    <div class="empty_img">
      <div class="img"></div>
      <div>
        <h3>Oops</h3>
        <h5>No Dashboard Trending Found !</h5>
      </div>
    </div>
  </div>
</div>