<div class="dashtimeline">
  <div class="itemSubLists" ng-repeat="timelineItem in dashtimeline.listData">
   <div class="ListView Timeline dashboard">
      <div class="listSecWrapper">
        <div class="listData">
          <div class="listContent" ng-class="{'disabledTag':timelineItem.voted}">
            <div class="profileInfo">
              <div class="profile_left">
                <div class="userImg">
                  <img ng-src={{timelineItem.attributes.author.images.medium}} />
                </div>
                <div class="userDetail">
                  <div>
                    <h2 class="userName">{{timelineItem.attributes.author.full_name}}</h2>
                    <div class="dateFormat">
                      <p>{{timelineItem.attributes.created * 1000 | date:'dd MMMM yyyy'}}</p>
                      <p class="expire">Expired on {{timelineItem.attributes.field_expiration * 1000 | date:'dd MMMM yyyy' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="TimelineCon">
              <h3>{{timelineItem.attributes.field_polls[0].question}}</h3>
              <div class="userEvent">
                <a class="agreeButton {{getchoice.value}}" ng-class="{'active': getchoice.id == timelineItem.attributes.field_polls[0].user_vote_value.chid}" href="" ng-repeat="getchoice in timelineItem.attributes.field_polls[0].choices" ng-click="timelinemyPost.selectEvent(timelineItem.attributes.field_polls[0].id,getchoice.id)">
                                {{getchoice.value}}
                            </a>
              </div>
              <div class="userResult" ng-if="timelineItem.voted">
                <div>
                  <div class="headLabel">
                    <label>Results</label>
                    <label class="totalUsers">
                      {{timelineItem.sum}} Users
                    </label>
                  </div>
                  <div>
                    <label class="resultLabel">{{timelineItem.attributes.field_polls[0].choices[0].value}}</label>
                    <label class="resultBar">
                      <span class="agree" style="width:{{((timelineItem.attributes.field_polls[0].votes[0].value/timelineItem.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((timelineItem.attributes.field_polls[0].votes[0].value/timelineItem.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{timelineItem.attributes.field_polls[0].choices[1].value}}</label>
                    <label class="resultBar">
                      <span class="disagree" style="width:{{((timelineItem.attributes.field_polls[0].votes[1].value/timelineItem.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((timelineItem.attributes.field_polls[0].votes[1].value/timelineItem.sum) * 100).toFixed(1)}}%</label>
                  </div>
                  <div>
                    <label class="resultLabel">{{timelineItem.attributes.field_polls[0].choices[2].value}}</label>
                    <label class="resultBar">
                      <span class="notsure" style="width:{{((timelineItem.attributes.field_polls[0].votes[2].value/timelineItem.sum) * 100).toFixed(1)}}%"></span></label>
                    <label class="resultValue">{{((timelineItem.attributes.field_polls[0].votes[2].value/timelineItem.sum) * 100).toFixed(1)}}%</label>
                  </div>
                </div>
                <div class="comment_section clear">
                    <div class="commentCount">
                      <span>{{timelineItem.Count}} Comments</span>
                    </div>
                    <div class="commentRight">
                        <label class="commentLabel">
                            comment<input type="checkbox" ng-model="comment" ng-click="dashtimeline.ClickComments(timelineItem);"/>
                        </label>
                        <label class="shareLabel" ng-show="{{timelineItem.attributes.field_polls[0].user_voted}}">
                        <a href="{{timelineItem.shareurl}}" target="_blank">Share</a>
                      </label>
                   </div>
                </div>
               </div>
          </div>
        </div>
      </div>
    <div class="Commentshow"  ng-show="timelineItem.view">
        <div class="commenrWrapper">
         <div class="comment_post">
        <!--  <div class="userImg">
                 <img ng-src={{timelineItem.attributes.author.images.medium}} />
              </div>
         <div class="commentPostright">
         <h2 class="userName">{{timelineItem.attributes.author.full_name}}</h2>
         <form>
         <textarea ng-model="commentname" placeholder="Write a comment"></textarea>
         <button ng-click="timelinemyPost.PostComments(timelineItem,commentname)" type="submit">Submit</button>
         </form>
         </div>
         </div> -->
         <div class="viewComment">
              <p>Comments (<span>{{timelineItem.Count}}</span>)</p>
          <div class="viewuser_comment" ng-repeat="usercomments in timelineItem.commentData">
          <div class="userImg">
                     <img ng-src={{usercomments.author.images.medium}} />
                </div>
        <div class="commentPostright">
        <div class="userName">
        <div class="nameTittle"><h3>{{usercomments.author.full_name}}</h3>
        <p>{{usercomments.created * 1000 | date:'dd MMMM yyyy'}}</p></div>
        <p>{{usercomments.body}}</p>
        </div>
        </div>
          </div>
         </div>
         <div class="pagninateDown" ng-show="page.length > 0">
                <div class="clear">
                <div class="prev">
                    <a href="" ng-click="page.previousPage('Comments',timeline);" ng-class="{'activeTag':page.prevurl}">


                    </a>
                </div>
                <div class="next">
                     <a href="" ng-click="page.nextPage('Comments',timeline);" ng-class="{'activeTag':page.nexturl}">

                     </a>
                </div>
             </div>
             </div>
        </div>
   </div>
    </div>
  </div>
</div>