<div class="appListSec">
    <div class="pageLoad Sports">
        <div class="categoryLists">
          <div class="clear">
                <div>
                     <div class="countof">
                        <label>{{sports.dataLength}} Sports in this page</label>
                    </div>
                </div>
                <div>
                    <label ng-init="sports.sportCate();">
                        Select Sports
                          <select name="singleSelect"
                        ng-model="categoryid"
                        ng-selected="sports.selectedCateg === category.uuid"
                        ng-options="category.uuid as category.name for category in sports.getCategory"
                        ng-change = "sports.sportCateg(categoryid)">
                            <option value="0">All</option>
                        </select>
                    </label>
                </div>
        </div>
        </div>
        <div class="itemlists" ng-init="sports.sports();">
            <div clas="listSec" ng-repeat="sport in sports.listData">
                <div class="listSecWrapper">
                    <a href="" class="imgSec" style="background-image: url({{sport.attributes.images.large}})"></a>
                    <div class="listData">
                        <div class="listContent">
                            <h4>{{sport.attributes.field_sports_category[0]}}</h4>
                            <div class="">
                                <h3>
                                    {{sport.attributes.title}}
                                    </h3>
                                <p>
                                    {{sport.attributes.body.value}}
                                </p>
                            </div>
                        </div>
                        <div class="userControl">
                            <div class="rating_section">
                                <ul class="clear">
                                    <li class="tapUserCon">
                                        <div class="review_con">
                                            <h3>Your</h3>
                                            <div class="rateText" ng-class="{'rated':sport.user_voted}">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                  <label class="adjustlabel">
                                                  <span class="rateLabel rateClass">Rate</span>
                                                  <span class="showvalue"><label>{{sport.myvote}}</label>/10</span></label>
                                            </div>
                                        </div>
                                        <div class="hoverRating">
                                            <div class="container">
                                            <!-- <div rating score="sports.score" max="10"  dataid="{{sports.id}}" currate="{{(sports.attributes.rating.user_vote)/10}}"></div> -->
                                                 <div>
                                                <div class='rating'>
                                                  <a ng-repeat='star in sport.stars track by $index'
                                                  ng-class="{'active':$index <= sport.myvote-1}"
                                                  ng-click="sports.ratingStar(sport,$index)">
                                                    <i class='fa fa-star-o' ng-class="{'fa-star':$index <= sport.myvote-1}"></i>
                                                  </a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review_con">
                                            <h3>Tab</h3>
                                            <div class="rateText">
                                                <a href="#"> <i class="fa fa-star"></i></a>
                                                <span>{{sport.tapVote}}/10</span><br/>
                                                <span>{{sport.attributes.rating.vote_sum}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="pagninateDown" ng-show="sports.nextPage || sports.prevPage">
            <div class="clear">
              <div class="prev" ng-show="sports.prevPage">
                <a ui-sref="landing.dashboard.sports({ pageOffset: sports.prevPage })"></a>
              </div>
              <div class="next" ng-show="dashtimeline.nextPage">
                <a ui-sref="landing.dashboard.sports({ pageOffset: sports.nextPage })"></a>
              </div>
            </div>
          </div>
          <div class="emptypage" ng-hide="sports.listData.length > 0">
            <div class="empty_img">
              <div class="img"></div>
              <div>
                <h3>Oops</h3>
                <h5>No Timeline Found !</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
