<div class="userView" ng-controller="UserController">
  <div ng-init="users.getuserDetails();">
  <div class="userWrap">
    <div class="userPrf">
      <div>
        <img ng-src="{{users.prfPic}}" alt="" />
        <!--<span>-->
        <!--<input type="file" name="file" value="users." onchange="angular.element(this).scope().users.uploadFile(this.files)"/>-->
        <!--</span>-->
      </div>
    </div>
    <div class="userDetail">
      <h3 class="userName">{{users.fullName}}</h3>
      <a href="" ui-sref="landing.userprofile" class="userProfile">View Profile</a>
    </div>
    <div class="followDetails">
      <div>
        <a ui-sref="landing.follow.followers({userid : users.useruid})" href=""><span>{{users.followers}}</span>Followers</a>
      </div>
      <div>
        <a ui-sref="landing.follow.following({userid : users.useruid})" href=""><span>{{users.following}}</span>Following</a>
      </div>
    </div>
  </div>
  <div class="userMenu">
    <div>
      <ul>
        <li>
          <a ui-sref="landing.trending" href="" ui-sref-active="active">Trending</a>
        </li>
        <li><a ui-sref="landing.ballotbox" href="" ui-sref-active="active">BallotBox</a></li>
      </ul>
    </div>
    <div class="entertainment">
      <h3>Entertainment</h3>
      <ul>
        <li>
          <a ui-sref="landing.movies" href="" ui-sref-active="active">Movies</a>
        </li>
        <li><a ui-sref="landing.sports" href="" ui-sref-active="active">Sports</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a ui-sref="landing.timeline" href="" ui-sref-active="active">Timeline</a></li>
        <li><a ui-sref="landing.dashboard" href="" ui-sref-active="active">Dashboard</a></li>
        <li><a ui-sref="landing.awards" href="" ui-sref-active="active">Awards</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="{{users.shareApp}}">Share TAP</a></li>
        <li><a ui-sref="logout">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="interestPopup" ng-show="users.modalShown" ng-init="users.categories();">
    <div>
      <modal-interest-dialog>
        <form name="interestForm" ng-submit="users.proceedInterest(users.lst);">
          <a href="" class="close" ng-click="users.hideModel();"> X</a>
          <div class="interestHead">
            <h3>Hello,What interests you?</h3>
            <h5>Pick some topic to follow</h5>
          </div>
          <div class="searchInterest">
            <label>
              <input type="text" name="" placeholder="Search Topics" ng-model="interestSearch" />
            </label>
          </div>
          <div class="interestLists">
            <div class="" ng-repeat='interests in users.interests | filter:interestSearch'>
              <input type="checkbox" name="interests.name" id="interests.name" ng-model="interests.checked" ng-change="users.checkBox(interests,interests.checked)" />
              <label>{{interests.name}}</label>
            </div>
          </div>
          <!--  <p ng-repeat="check in users.interests">{{check.tid}}</p> -->
          <div class="interestRate">
            <div class="interestsCount">
              <span class="interestsCountRate" style="width:{{2+(users.interests | filter:{checked: true }).length * 33.333333}}%"></span>
              <h3 ng-hide="(users.interests | filter:{checked: true }).length >=3"><strong>Good Pick</strong><span class="">{{users.countlist}}</span>{{users.noSelectedItems}}</h3>
              <div class="activeBtn" ng-show="(users.interests | filter:{checked: true }).length >=3">
                <input type="button" name="" value="Cancel" ng-click="users.hideModel()" />
                <input type="submit" name="" value="Submit" />
              </div>
            </div>
          </div>
        </form>
      </modal-interest-dialog>
    </div>
  </div>
</div>
