<!doctype html>
<html ng-app="tapWeb">
  <head>
    <meta charset="utf-8">
    <title>TAP | {{$root.pageTitle}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="TAP" />
    <meta property="og:type" content="{{$root.bodyClass}}" />
    <meta property="og:url" content="{{$root.webUrl}}" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="TAP,Take a Position" />
        <!-- etc. -->
    <meta content="" name="Tab"/>
     <base href="/">

    <!-- Tap Config service -->
    <script type="application/javascript" src="http://config.taponline.in/web/dev"></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
     <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <!-- [if lt IE 9]>
    <script src="js/mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body class="page-{{$root.bodyClass}}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <acme-navbar></acme-navbar>
    <div class="mainView" ui-view></div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>

</html>
