<div class='rating'>
  <a ng-repeat='star in stars' ng-mouseover='hover($index)' ng-mouseleave='stopHover()' ng-class='starColor($index)' ng-click='setRating($index)'>
    <i class='fa' ng-class='starClass(star, $index)'></i>
  </a>
</div>